@import '../../../styles/variables.scss';

.controls-block {
  display: flex;
  justify-content: space-between;
}

.control-container {
  margin-bottom: 20px;

  &_group {
    &__title {
      margin-bottom: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &_row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    > .control-container {
      margin-bottom: 0;
    }
  }
}

.controls-group {
  display: flex;
  flex-direction: column;

  &_row {
    display: flex;
    flex-direction: row;

    > *:not(:last-child) {
      margin-right: 20px;
    }

    > .like-button {
      margin-right: 10px;
    }
  }
}
