@import '../../../styles/variables.scss';

.controls-block {
  display: flex;
  justify-content: space-between;
}

.control-container {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 5px;
  }

  &_row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    > .control-container {
      margin-bottom: 0;
    }
  }

  &_group {
    margin-bottom: 40px;
    &__title {
      margin-bottom: 16px;
    }
  }
}

.controls-group {
  display: flex;
  flex-direction: column;

  &_row {
    flex-direction: row;
    & > * {
      margin-right: 20px;
    }
  }
}

.star {
  @extend %text-gradient;
}