@import '../../../styles/variables.scss';

.controls-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  > *:not(:last-child) {
    margin-right: 20px;
  }

  &__left,
  &__right {
    min-width: 320px;
  }

  &__middle {
    min-width: 260px;
  }
}

.control-container {
  margin-bottom: 20px;

  &_group {
    &__title {
      margin-bottom: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &_row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    > .control-container {
      margin-bottom: 0;
    }
  }
}

.controls-group {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: 30px;
  }

  &_row {
    flex-direction: row;
    margin-bottom: 20px;

    > *:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    > .like-button {
      margin-right: 10px;
    }
  }
}
