section.section-row.controls-block
  include ./controls-block__left/controls-block__left
  //- include ./controls-block__middle/controls-block__middle
  //- include ./controls-block__right/controls-block__right
