.heading-example {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: $headingFont;
  font-weight: $headingFontWeight;
  color: $headingColor;

  &_type_h1 {
    font-size: 24px;
    line-height: 30px;
  }
  &_type_h2 {
    font-size: 19px;
    line-height: 24px;
  }
  &_type_h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  &_type_body {
    font-family: $mainFont;
    font-style: $mainFontStyle;
    font-weight: $mainFontWeight;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $mainFontColor;
  }

  &__type {
    color: $darkShade25;
    font-family: $mainFont;
    font-weight: $mainFontWeight;
    text-transform: capitalize;
    margin-right: 30px;
    min-width: 37px;
    text-align: right;
  }

  &__text-example {
    margin: 0;
    max-width: 336px;
  }
}
.heading-example:last-child .heading-example__text-example {
  max-width: 301px;
}