@import '@styles/constants.scss';

.header {
  --relative-margin: 20px;
  @media (max-width: $laptop) {
    --relative-margin: 10px;
  }
  
  background-color: #fff;
  min-height: 70px;
  padding: 15px 3%;
  box-shadow: 0px 10px 20px $darkShade5;

  &__container {
    display: grid;
    grid-template:
      'logo menu login'
      'menu-bottom menu-bottom menu-bottom'
      / auto 1fr auto
      ;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

    @media (max-width: 900px) {
      grid-template:
        'logo login'
        'menu-bottom menu-bottom'
        ;
      row-gap: 10px;
      column-gap: 10px;
    }

    @media (max-width: $mobileL) {
      grid-template:
        'mt logo login';
      row-gap: 0;
    }
  }

  &__logo {
    @media (max-width: $mobileL) {
      justify-self: center;
    }
  }

  &__menu {
    grid-area: menu;
    justify-self: end;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin-right: var(--relative-margin);
    z-index: 99;

    &-opener {
      grid-area: mt;
      display: none;
      position: relative;
      font-family: 'Material icons';
      font-size: 24px;
      cursor: default;
      line-height: 40px;
      max-width: fit-content;
      user-select: none;
    }

    @media (max-width: 900px) {
      grid-area: menu-bottom;
      justify-self: center;
    }

    @media (max-width: $mobileL) {
      display: none;
      flex-direction: column;
      align-items: stretch;
      margin-right: 0;
      position: absolute;
      background-color: white;
      box-shadow: 0 4px 5px 2px $darkShade10;
      left: 0;
      top: 40px;
      padding: 10px 0;
      width: fit-content;
      max-width: 50vw;
      
      &-opener {
        display: block;
      }

      &-opener:hover + & {  
        display: flex;
      }

      &:hover {
        display: flex;
      }
    }

  }

  &__menu-item {
    color: $darkShade50;
    margin-right: var(--relative-margin);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      font-weight: bold;
      color: $darkShade75;
    }
    
    &_expandable {
      position: relative;
      padding-right: 24px;
      
      &::after {
        @extend %pseudo-element-basic;
        content: 'expand_more';
        font-family: 'Material icons';
        font-size: 24px;
        line-height: 1;
        right: 0;
        top: 0;

        @media (max-width: $mobileL) {
          transform: rotate(-90deg);
        }
      }

      &:hover > .header__submenu {
        display: block;
      }

      &:last-child > .header__submenu {
        right: 0;
      }

      @media (max-width: $mobileL) {
        &:last-child > .header__submenu {
          right: unset;
        }
      }
    }

    @media (max-width: $mobileL) {
      padding-left: 10px;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 0.3em;
      }

      &:hover {
        background-color: $darkShade5;
      }
    }
  }

  &__menu-link {
    display: block;
    text-decoration: none;
    color: inherit;
    line-height: 24px;
    white-space: nowrap;

    @media (max-width: $mobileL) {
      white-space: normal;
      overflow-wrap: break-word;
    }
  }

  &__submenu {
    display: none;
    background-color: #fff;
    padding: 10px 0;
    list-style: none;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0px 4px 5px 2px $darkShade5;
    border: 1px solid $darkShade10;
    cursor: default;

    @media (max-width: $mobileL) {
      left: 100%;
      top: 0;
      width: max-content;
      max-width: calc(100vw - 100% - 34px);
    }
  }

  &__subitem {
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: $darkShade5;
    }

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  &__sublink {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;

    @media (max-width: $mobileL) {
      display: block;
      white-space: normal;
      line-height: 1.3;
      overflow-wrap: break-word;
    }
  }

  &__buttons {
    grid-area: login;
    justify-self: end;
    display: flex;

    &-shower {
      @extend %text-gradient;
      display: none;
      grid-area: login;
      justify-self: end;
      user-select: none;
    }

    @media (max-width: 500px) {
      display: none;
      position: absolute;
      right: 0;
      border-radius: 2px;
      box-shadow: 0px 4px 5px 2px $darkShade5;
      border: 1px solid $darkShade10;
      background-color: #fff;
      padding: 10px;

      &:hover {
        display: flex;
      }

      &-shower {
        display: block;

        &:hover + .header__buttons {
          display: flex;
        }
      }
    }

    @media (max-width: $mobileS) {
      right: -5px;
    }
  }

  &__login-button {
    margin-right: var(--relative-margin);
  }

  &__user-name {
    line-height: 1.2;
    color: $darkShade50;
    white-space: nowrap;
    display: block;
    margin: auto 0;
    text-align: right;
    width: min-content;

    &-container {
      grid-area: login;
      justify-self: end;
      display: flex;
      align-items: center;
      height: 30px;
      padding-left: var(--relative-margin);
      border-left: 1px solid $darkShade10;
      max-width: 100%;
      overflow: hidden;
    }

    @media (max-width: 500px) {
      font-size: smaller;
    }

    @media (max-width: $mobileL) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}