@import '@styles/constants.scss';

.header {
  --relative-margin: 20px;
  @media (max-width: $laptop) {
    --relative-margin: 10px;
  }

  background-color: #fff;
  min-height: 70px;
  padding: 15px 3%;
  box-shadow: $lightShadow;

  &__container {
    display: grid;
    grid-template:
      'logo menu sign-in'
      / auto 1fr auto
      ;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

    @media (max-width: 900px) {
      grid-template:
        'logo sign-in'
        'menu-bottom menu-bottom'
        ;
      row-gap: 10px;
      column-gap: 10px;
    }

    @media (max-width: $tablet) {
      grid-template:
        'menu-opener logo sign-in';
      row-gap: 0;
    }
  }

  &__logo {
    justify-self: center;
  }

  &__menu {
    grid-area: menu;
    justify-self: end;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin-right: var(--relative-margin);
    z-index: 999;

    @media (max-width: 900px) {
      grid-area: menu-bottom;
      justify-self: center;
    }

    @media (max-width: $tablet) {
      display: none;
      flex-direction: column;
      align-items: stretch;
      margin-right: 0;
      position: absolute;
      background-color: white;
      box-shadow: 0 4px 5px 2px $darkShade10;
      left: calc(-3% - 1px);
      top: 55px;
      padding: 0;
      width: 50vw;
      grid-area: none;
      font-size: x-large;
      height: calc(100vh - 70px);
      overflow-y: auto;
    }

    @media (max-width: 600px) {
      width: 75%;
    }

    @media (max-width: $mobileL) {
      width: 100vw;
    }

    &-item {
      color: $darkShade50;
      margin-right: var(--relative-margin);
      cursor: pointer;

      @media (max-width: $tablet) {
        padding-left: 10px;
        margin-right: 0;

        &:hover {
          background-color: $darkShade5;
        }

        &:has(.header__menu-item-container_active) {
          padding-bottom: 10px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &_active {
        font-weight: bold;
        color: $darkShade75;
      }

      &-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
          &_active + .header__submenu {
            display: block;
          }
        }
      }

      &_type_expandable {
        position: relative;

        @media (max-width: $tablet) {
          padding-right: 10px;

          .header__menu-link {
            width: 85%;
          }
        }

        @media (min-width: calc($tablet + 1px)) {
          &:hover > .header__submenu {
            display: block;
          }
        }

        &:last-child > .header__submenu {
          right: 0;

          @media (max-width: $tablet) {
            right: unset;
          }
        }
      }
    }

    &-link {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      line-height: 17px;
      white-space: nowrap;
      padding: 4px 0;

      @media (max-width: $tablet) {
        line-height: 1.3;
        padding: 0.4em 0;
        white-space: normal;
        overflow-wrap: break-word;
        width: 100%;
      }
    }

    &-opener {
      grid-area: menu-opener;
      display: none;
      position: relative;
      font-family: 'Material icons';
      font-size: 24px;
      cursor: default;
      line-height: 40px;
      max-width: fit-content;
      user-select: none;

      @media (max-width: $tablet) {
        display: block;

        &_opened + .header__menu {
          display: flex;
        }
      }
    }
  }

  &__submenu {
    display: none;
    background-color: #fff;
    padding: 0.4em 0;
    list-style: none;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0px 4px 5px 2px $darkShade5;
    border: $lightBorder;
    cursor: default;

    @media (max-width: $tablet) {
      position: static;
      box-shadow: none;
    }

    &-opener {
      display: inline-block;
      font-family: 'Material icons';
      font-size: 24px;
      line-height: 1;

      @media (max-width: $tablet) {
        font-size: 1.5em;
        line-height: 1.4;
        top: 0;

        &_active {
          transform: scaleY(-1);

        }
      }

    }
  }

  &__subitem {
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: $darkShade5;
    }
  }

  &__sublink {
    display: block;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.4em 0;

    @media (max-width: $tablet) {
      display: block;
      white-space: normal;
      line-height: 1.3;
      overflow-wrap: break-word;
    }
  }

  &__buttons {
    grid-area: sign-in;
    justify-self: end;
    display: flex;

    &-opener {
      @extend %text-gradient;
      font-family: "Material Icons";
      font-size: 24px;
      display: none;
      grid-area: sign-in;
      justify-self: end;
      user-select: none;

      @media (max-width: 500px) {
        display: block;

        &:hover + .header__buttons {
          display: flex;
        }
      }
    }

    @media (max-width: 500px) {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      border-radius: 2px;
      box-shadow: 0px 4px 5px 2px $darkShade5;
      border: $lightBorder;
      background-color: #fff;
      padding: 10px;
      width: fit-content;
      flex-wrap: wrap;
      justify-content: flex-end;
      z-index: 1000;

      &:hover {
        display: flex;
      }
    }

    @media (max-width: $mobileS) {
      right: -5px;
    }
  }

  &__sign-in-button {
    margin-right: var(--relative-margin);

    @media (max-width: 500px) {
      margin-right: 0;
      margin-bottom: var(--relative-margin);
    }
  }

  &__user-name {
    line-height: 1.2;
    color: $darkShade50;
    white-space: nowrap;
    display: block;
    margin: auto 0;
    text-align: right;
    width: min-content;

    &-container {
      grid-area: sign-in;
      justify-self: end;
      display: flex;
      align-items: center;
      height: 30px;
      padding-left: var(--relative-margin);
      border-left: $lightBorder;
      max-width: 100%;
      overflow: hidden;
    }

    @media (max-width: 500px) {
      font-size: smaller;
    }

    @media (max-width: $mobileL) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}
