extends /../layouts/ui-kit/ui-kit

block variables
  -
    const title = "Headers & Footers"
    const pageClass = "headers-and-footers"
    const isGrey = true
    const isWithContainer = false

block content
  include /headers-and-footers/header/header
  include /headers-and-footers/footer/footer
  include /headers-and-footers/footer-creative/footer-creative

  .headers-and-footers__row
    +header({
      isLoggedIn: false,
      currentPage: "about",
    })
  .headers-and-footers__row
    +header({
      isLoggedIn: true,
      userName: "Юлий Цезарь",
      currentPage: "about",
    })
  .headers-and-footers__row
    +footer
  .headers-and-footers__row.headers-and-footers__row_creative
    +footer-creative
