@import '@styles/constants.scss';

.search-room {

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px 70px;
    margin-top: 30px;
    position: relative;

    @media (max-width: $mobileL) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__container {
    display: grid;
    max-width: 1160px;
    grid-template:
      'filter main'
      / 266px 1fr
      ;
    column-gap: 60px;
    align-items: start;
    width: 100%;

    @media (max-width: $hd) {
      grid-template:
        'main'
        / 1fr
        ;
        column-gap: 30px;
    }
  }

  &__filter {

    &-container {
      grid-area: filter;
      position: sticky;
      top: 5px;
      height: calc(100vh - 10px);
      width: fit-content;
      overflow: auto;

      @media (max-width: $hd) {
        display: none;
      }

      @media (max-width: $tablet) {
        grid-area: main;
        width: fit-content;
        z-index: 899;
        background-color: #fff;
        padding: 10px;
        border: $inputBorder;
        border-radius: 4px;
        box-shadow: $lightShadow;
      }

      @media (max-width: $mobileL) {
        left: 40px;
      }

      @media (max-width: $mobileS) {
        padding: 5px;
        top: 10px;
        height: calc(100vh - 10px);
        transform: translateX(5px);
      }
    }

    &-component {
      margin-bottom: 30px;

      &:first-child {
        margin-bottom: 20px;
      }

      &:nth-last-child(2) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $mobileS) {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &-opener {
      display: none;
      @extend %text-gradient;
      line-height: 30px;
      user-select: none;
      position: sticky;
      top: 10px;
      transform: translateX(-20px);
      border-radius: 4px;
      z-index: 2;
      cursor: pointer;

      @media (max-width: $hd) {
        display: block;
      }

      @media (max-width: $mobileL) {
        transform: translateX(0);
      }

      &:hover {
        box-shadow: 0 0 0 2px $purple;
      }
    }

    &-switch {
      display: none;

      &:checked {

        + .search-room__filter-opener {
          box-shadow: 0 0 5px 2px $purple;
        }

        ~ .search-room__container {

          @media (max-width: $hd) {
            grid-template:
              'filter main'
              / 266px 1fr
              ;

            .search-room__filter-container {
              display: block;
            }
          }
          
          @media (max-width: $tablet) {
            grid-template:
              'main'
              / 1fr
              ;

            .search-room__main {
              filter:
                blur(3px)
                grayscale(100%);

              &-overlay {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &__checkbox,
  &__checkbox-rich {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: filter 0.3s;
    position: relative;

    &-overlay {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      z-index: 898;
    }
  }

  &__list-title {
    align-self: flex-start;
    margin-bottom: 20px;

    @media (max-width: $mobileL) {
      margin-left: 30px;
    }
  }

  &__rooms-list {
    display: grid;
    gap: 20px 12px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    list-style: none;
    width: 100%;
    margin-bottom: 40px;
  }
}