extends /../layouts/website-page/website-page

block variables
  -
    const title = 'Search room / Filter';
    const pageClass = 'search-room';
    const roomsList = require('./rooms');

block content
  include /common/control-container/control-container
  include /form-elements/date-dropdown/date-dropdown
  include /form-elements/date-dropdown/_filter/date-dropdown_filter
  include /form-elements/dropdown/_type/_guests/dropdown_type_guests
  include /form-elements/dropdown/_type/_preferences/dropdown_type_preferences
  include /form-elements/range-slider/range-slider
  include /form-elements/checkbox/checkbox
  include /form-elements/checkbox/_rich/checkbox_rich
  include /form-elements/expandable-checkbox-list/expandable-checkbox-list
  include /cards/room-card/room-card
  include /form-elements/pagination/pagination

  input.search-room__filter-switch(
    type="checkbox"
    id="filter-opener"
  )
  label.search-room__filter-opener.material-icons(
    for="filter-opener"
    title="Показать/скрыть настройки фильтра"
  ) filter_list
  .search-room__container
    aside.search-room__filter
      .search-room__filter-component
        +date-dropdown_filter({
          title: "Даты пребывания в отеле",
        })
      .search-room__filter-component
        +dropdown_type_guests({
          title: "гости",
        })
      .search-room__filter-component
        +range-slider({
          title: "диапазон цены",
          range: [0, 16000],
          start: [5000, 10000],
          description: "стоимость за сутки пребывания в номере",
        })
      .search-room__filter-component
        +control-container({
          isGroup: true,
          title: "checkbox buttons",
        })
          -
            const checkboxes = [
              {
                label: "Можно курить",
                isChecked: false,
              },
              {
                label: "Можно с питомцами",
                isChecked: true,
              },
              {
                label: "Можно пригласить гостей<br>(до 10 человек)",
                isChecked: true,
              },
            ]
          each checkbox in checkboxes
            .search-room__checkbox
              +checkbox(checkbox)
      .search-room__filter-component
        +control-container({
          isGroup: true,
          title: "доступность",
        })
          -
            const richCheckboxes = [
              {
                label: "Широкий коридор",
                description: [
                  "Ширина коридоров в номере",
                  "не менее 91 см.",
                ],
                isChecked: false,
              },
              {
                label: "Помощник для инвалидов",
                description: [
                  "На 1 этаже вас встретит специалист",
                  "и проводит до номера.",
                ],
                isChecked: false,
              },
            ]
          each checkbox in richCheckboxes
            .search-room__checkbox-rich
              +checkbox_rich(checkbox)
      .search-room__filter-component
        +control-container({
          title: "удобства номера",
        })
          +dropdown_type_preferences
      .search-room__filter-component
        -
          const expandableCheckboxListItems = [
            { label: "Завтрак", isChecked: false },
            { label: "Письменный стол", isChecked: true },
            { label: "Стул для кормления", isChecked: true },
            { label: "Кроватка", isChecked: true },
            { label: "телевизор", isChecked: false },
            { label: "шампунь", isChecked: false },
          ]
        +expandable-checkbox-list({
          title: "дополнительные удобства",
          isOpened: false,
          checkboxes: expandableCheckboxListItems,
        })
    section.search-room__main
      .search-room__main-overlay
      h1.search-room__list-title Номера, которые мы для вас подобрали
      ul.search-room__rooms-list
        each room in roomsList
          li.search-room__room-card
            +room-card(room)
      .search-room__pagination
        +pagination
