section.controls-block__middle
  .control-container_group
    h3.control-container_group__title checkbox buttons
    .controls-group
      include ../../../../components/form-elements/checkbox/checkbox
      +checkbox('cb1', 'Можно курить')
      +checkbox('cb2', 'Можно с питомцами', true)
      +checkbox('cb3', 'Можно пригласить гостей (до 10 человек)', true)
  .control-container_group
    h3.control-container_group__title radio buttons
    .controls-group.controls-group_row
      include ../../../../components/form-elements/radio/radio
      +radio('sex', 'sex1', 'Мужчина', true)
      +radio('sex', 'sex2', 'Женщина')
  .control-container_group
    h3.control-container_group__title toggle
    .controls-group
      include ../../../../components/form-elements/toggle/toggle
      +toggle('toggle1', 'Получать спецпредложения', true)
      +toggle('toggle2', 'Получать спецпредложения', false)
  .control-container_group
    h3.control-container_group__title like button
    .controls-group
      include ../../../../components/form-elements/like-button/like-button
      +likeButton('two', 12)
  .control-container_group
    h3.control-container_group__title rate button
    .controls-group_row
      include ../../../../components/form-elements/rate-button/rate-button
      +rateButton('opinions_1')
      +rateButton('opinions_2')
    