section.controls-block__middle
  .control-container
    h3.control-container__title checkbox buttons
    include ../../../../components/ui-kit/form-elements/checkbox/checkbox
    +checkbox('cb1', 'Можно курить')
    +checkbox('cb2', 'Можно с питомцами', true)
    +checkbox('cb3', 'Можно пригласить гостей (до 10 человек)', true)