include /form-elements/range-slider/range-slider
include /form-elements/button/button
include /form-elements/pagination/pagination

section.controls-block__right
  +rangeSlider({
    title: "range slider",
    id: "range1",
    range: [0, 16000],
    start: [5000, 10000]
  })
  .control-container_group
    h3.control-container_group__title buttons
    .controls-group.buttons-group
      +button_filled({
        caption: "click me"
      })
      +button_filled({
        caption: "click me",
        isForceHover: true
      })
      +button_bordered({
        caption: "click me"
      })
      +button_bordered({
        caption: "click me",
        isForceHover: true
      })
      .controls-group.controls-group_row
        +button_link({ caption: "click me" })
        +button_link({ caption: "click me", isClear: true })
      +button_wide({ caption: "Перейти к оплате" })
  .control-container.pagination
    h3.control-container__title.pagination__title pagination
    +pagination