include /form-elements/checkbox/checkbox

//-
  options: {
    label: "string",
    description: "string",
    isChecked: boolean
  }
mixin checkbox_rich(options)
  .checkbox_rich
    +checkbox({
      label: options.label,
      isChecked: options.isChecked
    })
    span.checkbox_rich__description= options.description