include /form-elements/checkbox/checkbox

//-
  options: {
    title: 'string',
    items: [{
      label: 'string',
      description: 'string',
      isChecked: boolean
    }, { ... }]
  }
mixin checkbox_rich(options)
  .control-container
    h3.control-container__title.checkbox_rich__title #{options.title || 'rich checkbox buttons'}
    .controls-group.checkbox_rich__group
      each checkbox in options.items
        +checkbox_rich__generator(checkbox)

//-
  options: {
    label: 'string',
    description: 'string',
    isChecked: boolean
  }
mixin checkbox_rich__generator(options)
  .checkbox_rich
    +checkbox({
      label: options.label,
      isChecked: options.isChecked
    })
    span.checkbox_rich__description= options.description