@import '@styles/constants.scss';

.checkbox_rich {
  max-width: 260px;  

  &__title {
    margin-bottom: 15px;
  }

  .checkbox {
    margin-bottom: 0;
  }

  .checkbox__label {
    font-weight: bold;
    color: $mainFontColor;
  }

  &__description {
    margin-top: 5px;
    margin-left: 30px;
    color: $darkShade50;
    font-size: 12px;
    line-height: 14px;

    &-line {
      display: block;
    }
  }
}