include /form-elements/checkbox/checkbox

//-
  options: {
    label: "string",
    description: "string",
    isChecked: boolean
  }
mixin checkbox_rich(options)
  -
    const {
      label,
      description,
      isChecked,
    } = options

  .checkbox_rich
    +checkbox({
      label,
      isChecked,
    })
    .checkbox_rich__description
      each line in description
        span.checkbox_rich__description-line= line
