include /form-elements/checkbox/checkbox

//-
  options: {
    label: "string",
    description: "string",
    isChecked: boolean
  }
mixin checkbox_rich(options)
  .checkbox_rich
    +checkbox({
      label: options.label,
      isChecked: options.isChecked
    })
    .checkbox_rich__description
      each line in options.description
        span.checkbox_rich__description-line= line