extends ../../layout/ui-kit-main.pug
include ../../components/color-examples-list/color-examples-list.pug

block variables
  - var title = 'Colors & type'
  - var pageClass = 'colors-and-type'

block content
  .color-examples-list-wrapper
    +color-examples-list
    h2= title

  .headers-list