extends ../../layout/ui-kit-main
include ../../components/ui-kit/colors-&-type/color-examples-list/color-examples-list
include ../../components/ui-kit/colors-&-type/header-examples-list/header-examples-list

block variables
  - var title = 'Colors & type'
  - var pageClass = 'colors-and-type'

block content
  +color-examples-list
  +header-examples-list