@import '../../../styles/constants.scss';

.form-elements {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &__column {
    margin-bottom: 100px;
    width: 320px;

    &:nth-child(3n-2) {
      margin-right: 4.66%;
    }

    &_expandable-checkbox-lists {
      margin-top: -14px;
    }
  }


  &__control {
    margin-bottom: 20px;

    &_date-dropdown,
    &_date-dropdown-filter {
      margin: {
        top: 40px;
        bottom: 40px;
      }
    }

    &s-group {
      margin-bottom: 40px;
    }
  }

  &__checkbox {
    max-width: 222px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__radio-button,
  &__rate-button {
    margin-right: 20px;
  }

  &__toggle {
    margin-bottom: 14px;
  }

  &__like-button {
    margin-right: 10px;
  }

  &__range-slider {
    margin-bottom: 40px;
  }

  &__buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: auto auto;
    gap: 30px 20px;
    max-width: 100%;
    margin-bottom: 30px;
  }

  &__button-link {
    margin-right: 20px;

    &-group {
      display: flex;
      margin-bottom: 30px;
    }
  }

  &__dropdown {

    &_opened {
      height: 222px;
    }
    
    &_narrow {
      width: 266px;
      margin-bottom: 20px;

      &_opened {
        height: 128px;
      }
    }
    
  }

  &__checkbox-rich {
    margin-bottom: 10px;
  }
}
