extends /../layouts/ui-kit/ui-kit

block variables
  -
    const title = "Form elements"
    const pageClass = "form-elements"
    const isWithContainer = true

block content
  include /common/control-container/control-container
  include /form-elements/text-field/text-field
  include /form-elements/dropdown/dropdown
  include /form-elements/date-dropdown/date-dropdown
  include /form-elements/date-dropdown/_filter/date-dropdown_filter
  include /form-elements/checkbox/checkbox
  include /form-elements/radio/radio
  include /form-elements/toggle/toggle
  include /form-elements/like-button/like-button
  include /form-elements/rate-button/rate-button
  include /form-elements/range-slider/range-slider
  include /form-elements/button/button
  include /form-elements/pagination/pagination
  include /form-elements/dropdown/dropdown
  include /form-elements/expandable-checkbox-list/expandable-checkbox-list
  include /form-elements/checkbox/_rich/checkbox_rich
  include /form-elements/bullet-list/bullet-list
  include /form-elements/advantage/advantage
  include /form-elements/review/review
  
  //- 
  //- BASIC CONTROLS ROW
  //- 
  //- LEFT COLUMN
  section.form-elements__column
    .form-elements__control
      +control-container({
        title: "text field",
        state: "default",
      })
        +text-field({
          type: "email",
          placeholder: "Email",
        })
    .form-elements__control
      +control-container({
        title: "text field",
        state: "hover / focus",
      })
        +text-field({
          value: "This is pretty awesome",
          isForceHoverStyle: true,
        })
    .form-elements__control
      +dropdown-guests({
        title: "dropdown",
        state: "default",
      })
    .form-elements__control
      +control-container({
        title: "masked text field",
        state: "default",
      })
        +text-field({
          isMasked: true,
        })
    .form-elements__control_date-dropdown
      +date-dropdown({})
    .form-elements__control_date-dropdown-filter
      +date-dropdown_filter({
        selectDate: [
          [2020, 08, 19],
          [2020, 08, 23],
        ],
      })
    .form-elements__text-field-subscription
      +control-container({
        title: "subscription text field",
      })
        +text-field({
          isSubscription: true,
          type: "email",
          placeholder: "Email",
        })

  //- MIDDLE COLUMN
  section.form-elements__column
    .form-elements__controls-group
      +control-container({
        title: "checkbox buttons",
        isGroup: true,
      })
        -
          const checkboxes = [
            { label: "Можно курить" },
            { label: "Можно с питомцами", isChecked: true },
            { label: "Можно пригласить гостей (до 10 человек)", isChecked: true },
          ]
        each item in checkboxes
          .form-elements__checkbox
            +checkbox(item)
    .form-elements__controls-group
      +control-container({
        title: "radio buttons",
        isGroup: true,
        isRow: true,
      })
        -
          const radios = [
            { name: "gender", label: "Мужчина", isChecked: true },
            { name: "gender", label: "Женщина" },
          ]
        each item in radios
          .form-elements__radio-button
            +radio(item)
    .form-elements__controls-group
      +control-container({
        title: "toggle",
        isGroup: true,
      })
        -
          const toggles = [
            { isChecked: true },
            {  },
          ]
        each item in toggles
          .form-elements__toggle
            +toggle(item)
    .form-elements__controls-group
      +control-container({
        title: "like button",
        isGroup: true,
        isRow: true,
      })
        .form-elements__like-button
          +like-button({ likesCount: 2 })
        .form-elements__like-button
          +like-button({ likesCount: 11, isClicked: true })
    .form-elements__controls-group
      +control-container({
        title: "rate button",
        isGroup: true,
        isRow: true,
      })
        .form-elements__rate-button
          +rate-button(4)
        .form-elements__rate-button
          +rate-button(5)

  //- RIGHT COLUMN
  section.form-elements__column
    .form-elements__range-slider
      +range-slider({
        title: "range slider",
        range: [0, 16000],
        start: [5000, 10000],
      })
    .form-elements__controls-group
      +control-container({
        title: "buttons",
        isGroup: true,
      })
        .form-elements__buttons-grid
          .form-elements__button
            +button_filled({
              caption: "click me",
            })
          .form-elements__button
            +button_filled({
              caption: "click me",
              isForceHover: true,
            })
          .form-elements__button
            +button_bordered({
              caption: "click me",
            })
          .form-elements__button
            +button_bordered({
              caption: "click me",
              isForceHover: true,
            })
        .form-elements__button-link-group
          .form-elements__button-link
            +button_link({ caption: "click me", })
          .form-elements__button-link
            +button_link({ caption: "click me", isClear: true, })
        .form-elements__button-wide
          +button_wide({ caption: "Перейти к оплате", })
    .form-elements__pagination
      h3.pagination__title pagination
      +pagination

  //- 
  //- DROPDOWNS ROW
  //- 
  //- LEFT BLOCK
  section.form-elements__column
    .form-elements__dropdown_narrow
      +dropdown-preferences({
        title: "dropdown",
        state: "default",
        hasButtons: false,
        defaultCounts: [2, 2, 0],
      })
    .form-elements__dropdown_narrow.form-elements__dropdown_narrow_opened
      +dropdown-preferences({
        title: "dropdown",
        state: "expanded",
        isOpened: true,
        isAlwaysOpened: true,
        defaultCounts: [2, 2, 0],
      })
  //- MIDDLE BLOCK
  section.form-elements__column
    .form-elements__dropdown_opened
      +dropdown-guests({
        title: "dropdown",
        isOpened: true,
        isAlwaysOpened: true,
      })
  //- RIGHT BLOCK
  section.form-elements__column
    .form-elements__dropdown_opened
      +dropdown-guests({
        title: "dropdown",
        isOpened: true,
        isAlwaysOpened: true,
        defaultCounts: [2, 1, 0],
      })

  //- 
  //- LISTS ROW
  //- 
  //- LEFT BLOCK
  section.form-elements__column.form-elements__column_expandable-checkbox-lists
    -
      const expandableCheckboxListItems = [
        { label: "Завтрак", isChecked: false },
        { label: "Письменный стол", isChecked: true },
        { label: "Стул для кормления", isChecked: true },
        { label: "Кроватка", isChecked: true },
        { label: "телевизор", isChecked: false },
        { label: "шампунь", isChecked: false },
      ]
    .form-elements__control
      +expandable-checkbox-list({
        isOpened: false,
        checkboxes: expandableCheckboxListItems,
      })
    .form-elements__control
      +expandable-checkbox-list({
        isOpened: true,
        checkboxes: expandableCheckboxListItems,
      })

  //- MIDDLE BLOCK
  section.form-elements__column
    -
      const richCheckboxes = [
        {
          label: "Широкий коридор",
          description: [
            "Ширина коридоров в номере",
            "не менее 91 см.",
          ],
          isChecked: false,
        },
        {
          label: "Помощник для инвалидов",
          description: [
            "На 1 этаже вас встретит специалист",
            "и проводит до номера.",
          ],
          isChecked: false,
        },
      ]
    .form-elements__controls-group
      +control-container({
        title: "rich checkbox buttons",
        isGroup: true,
      })
        each checkbox in richCheckboxes
          .form-elements__checkbox-rich
            +checkbox_rich(checkbox)

  //- MIDDLE BLOCK
  section.form-elements__column
    .form-elements__controls-group
      +control-container({
        title: "bullet list",
        isGroup: true,
      })
        +bulletList([
          { label: "нельзя с питомцами" },
          { label: "без вечеринок и мероприятий" },
          { label: "время прибытия — после 13:00, а выезд до 12:00" },
        ])
  
  //- 
  //- DESCRIPTIONS ROW
  //- 
  section.form-elements__column
    .form-elements__advantages-block
      -
        const advantages = [
          {
            icon: "insert_emoticon",
            title: "Комфорт",
            description: "Шумопоглощающие стены",
          },
          {
            icon: "location_city",
            title: "Удобство",
            description: "Окно в каждой из спален",
          },
        ]
      each advantage in advantages
        +advantage(advantage)

  section.form-elements__column_wide
    +review({
      photoName: "murad",
      name: "Мурад Сарафанов",
      date: "5 дней назад",
      like: {
        count: 11,
        isClicked: true,
      },
      text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
    })