include /form-elements/checkbox/checkbox
include /form-elements/radio/radio
include /form-elements/toggle/toggle
include /form-elements/button/button
include /form-elements/rate-button/rate-button

section.controls-block__middle
  .control-container_group
    h3.control-container_group__title checkbox buttons
    .controls-group
      -
        var checkboxes = [
          { label: 'Можно курить' },
          { label: 'Можно с питомцами', isChecked: true },
          { label: 'Можно пригласить гостей (до 10 человек)', isChecked: true }
        ]
      each item in checkboxes
        +checkbox(item)
  .control-container_group
    h3.control-container_group__title radio buttons
    .controls-group.controls-group_row
      -
        var radios = [
          { name: 'gender', label: 'Мужчина', isChecked: true },
          { name: 'gender', label: 'Женщина' }
        ]
      each item in radios
        +radio(item)
  .control-container_group
    h3.control-container_group__title toggle
    .controls-group
      -
        var toggles = [
          { isChecked: true },
          {  }
        ]
      each item in toggles
        +toggle(item)
  .control-container_group
    h3.control-container_group__title like button
    .controls-group.controls-group_row
      +button_like({ likesCount: 2 })
      +button_like({ likesCount: 11, isClicked: true })
  .control-container_group
    h3.control-container_group__title rate button
    .controls-group.controls-group_row
      +rateButton({ rating: 4 })
      +rateButton({ rating: 5 })
    