include ../../../../../components/form-elements/checkbox/checkbox
include ../../../../../components/form-elements/radio/radio
include ../../../../../components/form-elements/toggle/toggle
include ../../../../../components/form-elements/button/button
include ../../../../../components/form-elements/rate-button/rate-button

section.controls-block__middle
  .control-container_group
    h3.control-container_group__title checkbox buttons
    .controls-group
      -
        var checkboxes = [
          { id: 'cb1', label: 'Можно курить' },
          { id: 'cb2', label: 'Можно с питомцами', isChecked: true },
          { id: 'cb3', label: 'Можно пригласить гостей (до 10 человек)', isChecked: true }
        ]
      each val in checkboxes
        +checkbox(val)
  .control-container_group
    h3.control-container_group__title radio buttons
    .controls-group.controls-group_row
      -
        var radios = [
          { name: 'gender', id: 'male', label: 'Мужчина', isChecked: true },
          { name: 'gender', id: 'female', label: 'Женщина' }
        ]
      each val in radios
        +radio(val)
  .control-container_group
    h3.control-container_group__title toggle
    .controls-group
      -
        var toggles = [
          { id: 'toggle1', label: 'Получать спецпредложения', isChecked: true },
          { id: 'toggle2', label: 'Получать спецпредложения' }
        ]
      each val in toggles
        +toggle(val)
  .control-container_group
    h3.control-container_group__title like button
    .controls-group.controls-group_row
      +button_like({ id: 'two', likesCount: 2 })
      +button_like({ id: 'twelve', likesCount: 11, isClicked: true })
  .control-container_group
    h3.control-container_group__title rate button
    .controls-group.controls-group_row
      +rateButton({ id: 'opinion_1', rating: 4 })
      +rateButton({ id: 'opinion_2', rating: 5 })
    