include ../../../../../components/form-elements/text-field/text-field
include ../../../../../components/form-elements/dropdown/dropdown
include ../../../../../components/form-elements/date-dropdown/date-dropdown

section.controls-block__left
  +textField({
    type: 'email',
    title: 'text field',
    placeholder: 'Email',
    description: 'default'
  })
  +textField({
    title: 'text field',
    value: 'This is pretty awesome',
    forceHoverStyle: true,
    description: 'hover / focus'
  })
  +dropdown({
    title: 'dropdown',
    description: 'default',
    id: 'guests1',
    type: 'guests',
    placeholder: 'Сколько гостей',
    hasButtons: true
  })
  +textField({
    class: 'masked',
    title: 'masked text field',
    placeholder: 'ДД.ММ.ГГГГ',
    description: 'default'
  })
  .control-container_vertically-spacey
    +dateDropdown({})
  .control-container_vertically-spacey
    +dateDropdownFilter({})
  +textField({
    class: 'subscription',
    type: 'email',
    title: 'subscription text field',
    placeholder: 'Email'
  })