include header-example/header-example

mixin header-examples-list
  ul.examples-list.header-examples-list
    +header-example({type: 'h1', textExample: 'This one is the sub-section or widget title'})
    +header-example({type: 'h2', textExample: 'Next one is the item title inside widgets'})
    +header-example({type: 'h3', textExample: 'This is a label or CTA text'})
    +header-example({textExample: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})