@import '../../../../styles/variables.scss';

// extends common button styles at ../button.scss

.button_white {
  background: $primaryGradient;
  padding: 2px;

  &__body {
    width: 95px;
    height: 40px;
    background-color: #fff;
    color: $purple;
  }

  &:hover {
    background: linear-gradient(180deg, rgba($purple, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
  }
}