@import '../../../styles/constants.scss';

.text-field {
  position: relative;

  &__input {
    @extend %text-field-input-basic;

    &_force-focus-hover {
      border: 1px solid $darkShade50;
      color: $mainFontColor;
    }
  }

  &_subscription {
    max-width: 266px;

    &__arrow {
      position: absolute;
      right: 0;
      vertical-align: middle;
      width: $inputHeight;
      height: $inputHeight;
      border: none;
      @extend %text-gradient;
    }
  }
}