include /cards/card-container/card-container
include /form-elements/text-field/text-field
include /form-elements/button/button

mixin sign-in-card
  .sign-in-card
    +card-container
      h1.sign-in-card__title Войти
      form.sign-in-card__sign-in-form
        .sign-in-card__text-field
          +text-field({
            placeholder: "Email",
            type: "email",
          })
        .sign-in-card__text-field
          +text-field({
            placeholder: "Пароль",
            type: "password",
          })
        .sign-in-card__submit-button
          +button_wide({
            caption: "войти",
          })
      .sign-in-card__registration-block
        span.sign-in-card__registration-text Нет аккаунта на Toxin?
        .sign-in-card__registration-button.js-sign-in-card__registration-button
          +button_bordered({
            caption: "создать",
          })