@import '@styles/constants.scss';

.button {
  display: inline-block;
  width: -moz-fit-content;
  width:      fit-content;
  max-width: 100%;
  height: $inputSize;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font: $mainFontStyle bold 12px/15px $mainFontFamily;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;

  &_filled {
    background: $primaryGradient;
    color: #fff;
    padding: 0 20px;

    &:hover,
    &_force-hover {
      opacity: 0.5;
    }
  }

  &_bordered {
    background: $primaryGradient;
    padding: 2px;
    min-width: 99px;

    &__body {
      width: 100%;
      height: 100%;
      padding: 0 18px;
      background-color: #fff;
      color: $purple;
    }

    &:hover,
    &_force-hover {
      background: linear-gradient(180deg, rgba($purple, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
    }
  }

  &_link {
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: auto;
    color: $purple;
    border: none;
    border-radius: 0;
    background-color: transparent;
    height: auto;
    
    &_clear {
      color: $darkShade50;

      &_hidden {
        visibility: hidden;
      }
    }
  }

  &_wide {
    width: 320px;
    position: relative;

    &::after {
      position: absolute;
      content: 'arrow_forward';
      font-family: 'Material Icons';
      top: 0;
      right: 0;
      width: $inputSize;
      height: $inputSize;
      font-size: 24px;
      font-weight: $mainFontWeight;
      line-height: 1;
      text-transform: none;
      padding: 10px;
    }
  }

  &_small{
    height: 34px;
    min-width: auto;
  }
}
