//- options: {
      color: "ds-100",
      title: "Dark Shade 100%",
      code: "#1F2041"
    }

mixin color-example(options)
  - const { color, title, code } = options;

  li.color-example
    .color-example__color-square(
      class=`color-example__color-square_color_${color}`
    )
    .color-example__text-block
      h2.color-example__color-title= title
      span.color-example__color-code= code
