@import '@styles/constants.scss';

.color-example {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__color-square {
    width: 70px;
    height: 70px;
    background-color: $darkShade100;
    border-radius: 6px;
    margin-right: 40px;

    &_color_ds-75 {
      background-color: $darkShade75;
    }
    &_color_ds-50 {
      background-color: $darkShade50;
    }
    &_color_ds-25 {
      background-color: $darkShade25;
    }
    &_color_ds-5 {
      background-color: $darkShade5;
    }
    &_color_purple {
      background-color: $purple;
    }
    &_color_green {
      background-color: $green;
    }
  }

  &__text-block {
    font: {
      size: 19px;
      family: $headingFontFamily;
    }
    line-height: 29px;
    color: $headingColor;
  }

  &__color-title {
    margin: 0;
    font: {
      size: inherit;
      weight: $headingFontWeight;
    }
    color: $headingColor;
  }
}