include ../../../../components/form-elements/text-field/text-field
include ../../../../components/form-elements/dropdown/dropdown
include ../../../../components/form-elements/dropdown/date-dropdown/date-dropdown
include ../../../../components/form-elements/dropdown/date-dropdown/date-dropdown_filtered/date-dropdown_filtered

section.controls-block__left
  +textField({
    title: 'text field',
    placeholder: 'Email',
    description: 'default'
  })
  +textField({
    title: 'text field',
    placeholder: 'Email',
    value: 'This is pretty awesome',
    forceHoverStyle: true,
    description: 'hover / focus'
  })
  .control-container
    h3.control-container__title dropdown
    //- dropdown(id, type, title, hasButtons, options[name, defaultcount, maxcount, declensions], isOpened)
    +dropdown(
      'guests1', 'guests', 'Сколько гостей', true, [
        { name: 'взрослые', maxcount: '10', 
         declensions: [
           'гость',
           'гостя',
           'гостей'
         ]
        },
        { name: 'дети', maxcount: '5' },
        { name: 'младенцы', maxcount: '6',
          declensions: [
            'младенец',
            'младенца',
            'младенцев'
          ]
        }
      ])
  +textField({
    class: 'text-field_masked',
    title: 'masked text field',
    placeholder: 'ДД.ММ.ГГГГ',
    description: 'default'
  })
  .control-container_row
    .control-container
      h3.control-container__title date dropdown
      +dateDropdown('date1', true)
    .control-container
      h3.control-container__title date dropdown
      +dateDropdown('date2')
  .control-container
    h3.control-container__title filter date dropdown
    //- +dropdown('date-dropdown_filter', '19 авг - 23 авг')
  +textField({
    title: 'subscription text field',
    placeholder: 'Email',
    class: 'text-field_subscription'
  })