//- options: {
      title: "string",
      state: "string",
      modifierClass: "string"
    }
mixin control-container_group(options)
  .contol-container_group(
    class=options.modifierClass ? `control-container_${options.modifierClass}` : ""
  )
    .control-container_group__caption
      if options.title
        h3.control-container_group__title= options.title
    .control-container_group__controls(
      class=options.isRow ? "control-container_group__controls_row" : ""
    )
      if block
        block
