//- options: {
      title: "string",
      state: "string",
      modifierClass: "string"
    }
mixin controls-group(options)
  .contol-container_group(
    class=options.modifierClass ? `control-container_${options.modifierClass}` : ""
  )
    .controls-group__caption
      if options.title
        h3.controls-group__title= options.title
    .controls-group__controls(
      class=options.isRow ? "controls-group__controls_row" : ""
    )
      if block
        block
