@import '@styles/constants.scss';

// gradients
$orangeGradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$blackGradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);

$color-codes: (
  'orange': #FFE39C #FFBA9C,
  'green': #6FCF97 #66D2EA,
  'purple': #BC9CFF #8BA4F9,
  'black': #919191 #3D4975
);

@each $color, $codes in $color-codes {
  ##{$color} {
    fill: url(##{$color}-gradient) unquote($color);
  }
  .#{$color}-stop1 {
    stop-color: nth($codes, 1);
  }
  .#{$color}-stop2 {
    stop-color: nth($codes, 2);
  }
}

.peity {
  transform: scaleX(-1);

  &__whitespace {
    fill: white;
  }
}

.pie-chart {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobileS) {
    justify-content: center;
  }

  &__container {
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 30px;
  }

  &__total {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $purple;
    font-weight: $headingFontWeight;

    &-number {
      font: {
        family: $headingFontFamily;
        size: 24px;
      }
      line-height: 30px;
    }

    &-caption {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__legend {
    align-self: flex-end;
    margin-top: 20px;

    &-element {
      white-space: nowrap;

      &-color {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: none;

        &_orange {
          background: $orangeGradient;
        }

        &_green {
          background: $secondaryGradient;
        }

        &_purple {
          background: $primaryGradient;
        }

        &_black {
          background: $blackGradient;
        }

      }
    }

    &-caption {
      text-transform: capitalize;
    }
  }
}
