mixin radio(name, id, label, isChecked)
  .input-button.radio
    input.switch.radio__switch(type='radio', name=name, id=id, checked=isChecked)
    label.input-button__label.radio__label(for=id)= label