@import '@styles/constants.scss';

.radio {
  display: flex;
  cursor: pointer;

  &__switch {
    @extend %switch;
    border-radius: 50%;
    padding: 3px;

    &:checked {
      background: $primaryGradient;
      background-clip: content-box;

      & + .radio__label {
        color: $mainFontColor;
      }
    }
  }

  &__label {
    @extend %input-button-label;
  }
}