@import '../../../styles/variables.scss';

//extends common styles from ../form-elements-common.scss

.radio {
  margin-bottom: 0;

  &__switch {
    border-radius: 50%;
    padding: 3px;

    &:checked {
      background: $primaryGradient;
      background-clip: content-box;

      & + .radio__label {
        color: $darkShade75;
      }
    }
  }
}