@import '../../../../styles/constants.scss';

.controls-block {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;

  &__left,
  &__right {
    min-width: 320px;
  }

  &__middle {
    min-width: 260px;
  }

  &__right {
    width: 320px;

    .control-container.range-slider {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: $mobileL) {
  .controls-block {
    margin-bottom: 50px;
  }
}

.control-container {
  margin-bottom: 20px;

  &__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade50;
  }

  &_group {
    &__title {
      margin-bottom: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &_row {
    display: flex;
    justify-content: space-between;

    > .control-container {
      margin-bottom: 0;
    }
  }

  &_vertically-spacey {
    margin: 40px 0;
  }
}

.controls-group {
  display: flex;
  flex-direction: column;

  &.buttons-group {
    flex-direction: row;
    flex-wrap: wrap;

    > .button {
      margin-right: 19px;
    }

    > *:not(:last-child) {
      margin-bottom: 30px;
    }
  } 

  &_row {
    flex-direction: row;
    margin-bottom: 20px;

    > *:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    > .button_like {
      margin-right: 10px;
    }
  }
}
