extends ../../layouts/ui-kit_main/ui-kit_main

block variables
  - var title = 'Form elements'
  - var pageClass = 'form-elements'

block content
  include ../../layouts/ui-kit_form-elements/controls-block/controls-block
  include ../../layouts/ui-kit_form-elements/dropdowns-block/dropdowns-block
  include ../../layouts/ui-kit_form-elements/lists-block/lists-block
  include ../../layouts/ui-kit_form-elements/descriptions-block/descriptions-block