@import '../../styles/variables.scss';

.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-wrapper_form-elements {
  max-width: 1400px;
  flex-direction: column;
}

.section-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 300px;
}