extends ../../layouts/ui-kit_main/ui-kit_main

block variables
  - var title = 'Form elements'
  - var pageClass = 'form-elements'

block content
  section.section-row.controls-block
    section.controls-block-left
    section.controls-block-middle
    section.controls-block-right
  section.section-row.dropdowns-block
    section.dropdowns-block-left
    section.dropdowns-block-middle
    section.dropdowns-block-right
  section.section-row.lists-block
    section.lists-block-left
    section.lists-block-middle
    section.lists-block-right
  section.section-row.descriptions-block
    section.descriptions-block-left
    section.descriptions-block-right
