@import '../../styles/variables.scss';

.page-wrapper_form-elements {
  max-width: 1100px;
  margin: 0 140px;
  flex-direction: column;
}

.control-container {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 5px;
  }

  &_row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    > .control-container {
      margin-bottom: 0;
    }
  }
}
