extends ../../layouts/ui-kit_main/ui-kit_main

block variables
  - var title = 'Form elements'
  - var pageClass = 'form-elements'

block content
  include blocks/controls-block/controls-block
  include blocks/dropdowns-block/dropdowns-block
  include blocks/lists-block/lists-block
  include blocks/descriptions-block/descriptions-block