@import '../../../styles/constants.scss';
@import '~air-datepicker/dist/css/datepicker.css';

.date-dropdown {
  position: relative;

  .control-container__title {
    margin-bottom: 5px;
  }

  &__container {
    position: relative;
  }

  &__arrow {
    @extend %expand-more-button;
  }

  &__input {
    @extend %text-field-input-basic;
    color: $mainFontColor;
    position: relative;
    cursor: pointer;
    min-width: unset;
    width: 150px;
    height: $inputHeight;
    background-color: transparent;
    padding: $inputPadding;

    &::placeholder {
      color: $mainFontColor;
    }

    &_fake {
      position: absolute;
      top: 20px;
      width: 100%;
      height: calc(100% - 20px);
      z-index: 3;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: transparent;

      &::selection {
        background-color: none;
        color: none;
      }
    }
  }

  &_filter {
    max-width: 266px;
    color: $mainFontColor;

    &__container {
      position: relative;
    }

    &__input {
      width: 100%;
      text-transform: lowercase;

      &::placeholder {
        text-transform: uppercase;
        user-select: none;
        color: $mainFontColor;
      }
    }
  }
 
}

//
// Air Datepicker styles
//

.datepicker {
  box-sizing: border-box;
  font-family: $mainFontFamily;
  border: $inputBorder;
  box-shadow: $dropdownShadow;
  width: 320px;

  &--pointer {
    display: none;
  }
  
  &--nav {
    border: none;
    padding: 19px 16px;

    &-action {
      display: flex;
      color: $purple;
      font-family: 'Material Icons';
      font-size: 24px;
    }

    &-title {
      cursor: default;
      user-select: none;

      &:hover {
        background: white;
      }
    }
  }

  &--content {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 20px;
  }

  &--days-names {
    margin: 0;
  }

  &--day-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    color: $purple;
  }

  &--cell {
    height: 40px;
    color: $darkShade50;

    &.-current-,
    &.-selected-,
    &.-range-from-,
    &.-range-to- {
      color: white;
      font-weight: bold;
      background: none;

      &::before {
        @extend %pseudo-element-basic;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &.-selected-,
    &.-range-from-,
    &.-range-to- {

      &::before {
        background: $primaryGradient;
      }

      &::after {
        @extend %pseudo-element-basic;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -2;
        background: $primaryGradientTransparentized25;
      }
    }

    &.-current- {

      &::before {
        background: $greenGradient;
      }

      &.-selected- {
        background: none;
      }

      &.-focus- {
        color: white;
      }

      &.-in-range- {
        color: white;
        
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    &.-range-from- {
      border: none;

      &::after {
        right: 0;
      }
    }

    &.-range-to- {
      border: none;

      &::after {
        left: 0;
      }

      &.-selected-::before {
        border-radius: 50%;
      }
    }

    &.-in-range- {
      background: none;

      &::after {
        @extend %pseudo-element-basic;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primaryGradientTransparentized25;
        color: $darkShade50;
        z-index: -2;
      }

      &.-focus-:not(.-current-) {
        border-radius: 0;
      }
    }

    &.-focus- {
      border-radius: 50%;

      &.-selected- {
        background: none;
      }
    }

    &.-other-month- {
      color: $darkShade25;

      &.-range-from-,
      &.-range-to- {
        color: white;
      }

      &.-selected-,
      &.-in-range- {
        background: none;
        
        &::after {
          background: $primaryGradientTransparentized25;
        }
      }
    }

    &.-disabled- {
      color: $darkShade25;

      &.-focus- {
        background: none;
        color: $darkShade25;
      }
    }
  }

  &--button {

    &:hover {
      background: unset;
      color: $darkShade50;
    }

    &.button_link_clear {
      max-width: 75px;
    }

    &s {
      border-top: none;
      padding: 20px;
      padding-top: 10px;
      justify-content: space-between;
    }
    
  }
}