@import '../../../styles/constants.scss';

.colors-and-type {
  
  &__content {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: $tablet) {
    &__content {
      justify-content: center;
    }
  }

  &__examples-list {
    list-style: none;
    margin-bottom: 50px;

    &_color {
      min-width: 295px;
    }

    &_heading {
      min-width: 403px;
    }
  }

  &__color-example:not(:last-child) {
    margin-bottom: 20px;
  }

  &__heading-example:not(:last-child) {
    margin-bottom: 50px;
  }
}