extends /../layouts/ui-kit/ui-kit

block variables
  -
    const title = 'Colors & type';
    const pageClass = 'colors-and-type';
    const isWithContainer = true;

block content
  include /colors-and-type/color-example/color-example
  include /colors-and-type/heading-example/heading-example

  -
    const colorsList = [
      { color: "ds-100", title: "Dark Shade 100%", code: "#1F2041" },
      { color: "ds-75", title: "Dark Shade 75%", code: "#1F2041" },
      { color: "ds-50", title: "Dark Shade 50%", code: "#1F2041" },
      { color: "ds-25", title: "Dark Shade 25%", code: "#1F2041" },
      { color: "ds-5", title: "Dark Shade 5%", code: "#1F2041" },
      { color: "purple", title: "Purple", code: "#BC9CFF" },
      { color: "green", title: "Green", code: "#6FCF97"  },
    ]
    const headingsList = [
      { type: "h1", textExample: "This one is the sub-section or widget title" },
      { type: "h2", textExample: "Next one is the item title inside widgets" },
      { type: "h3", textExample: "This is a label or CTA text" },
      { type: "body", textExample: "This is the body text which is used for most of the design, like paragraphs, lists, etc." },
    ]

  ul.colors-and-type__examples-list.colors-and-type__examples-list_color
    each color in colorsList
      .colors-and-type__color-example
        +color-example(color)

  ul.colors-and-type__examples-list.colors-and-type__examples-list_heading
    each heading in headingsList
      .colors-and-type__heading-example
        +heading-example(heading)
