//- options: {
      label: "string",
      isChecked: boolean
    }

mixin checkbox(options)
  - const randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  label.checkbox
    input.checkbox__switch(
      id=`cb-${randID}`
      type="checkbox"
      checked=options.isChecked
    )
    span.checkbox__label= options.label