include ../switch-common/switch-common
mixin checkbox(options)
  .input-button.checkbox
    +switch({
      id: options.id,
      controlType: 'checkbox',
      isChecked: options.isChecked
    })
    label(for=options.id).input-button__label.checkbox__label= options.label