include /form-elements/switch-common/switch-common

//-
  options: {
    label: "string",
    isChecked: boolean
  }

mixin checkbox(options)
  - var randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  .input-button.checkbox
    +switch({
      id: `cb-${randID}`,
      controlType: "checkbox",
      isChecked: options.isChecked
    })
    label.input-button__label.checkbox__label(for=`cb-${randID}`)= options.label