include /form-elements/switch-common/switch-common
mixin checkbox(options)
  - var randID = Math.floor(Math.random() * (1 - 100) + 100)
  .input-button.checkbox
    +switch({
      id: `cb-${randID}`,
      controlType: 'checkbox',
      isChecked: options.isChecked
    })
    label.input-button__label.checkbox__label(for=`cb-${randID}`)= options.label