//- options: {
      label: "string",
      isChecked: boolean
    }

mixin checkbox(options)
  include /common/random-id-generator/random-id-generator
  -
    const {
      label = '',
      isChecked = false,
    } = options;

  label.checkbox
    input.checkbox__switch(
      id=`cb-${randID}`
      type="checkbox"
      checked=isChecked
    )
    span.checkbox__label !{label}
