@import '../../../styles/variables.scss';

//extends common styles from ../form-elements-common.scss

.checkbox {
  max-width: 222px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__switch {
    border-radius: 4px;

    &:checked {
      background: no-repeat center 40% url('../../../res/img/controls/checkbox_toggle.svg');
    }
  }
}
