@import '@styles/constants.scss';

.checkbox {
  display: flex;
  cursor: pointer;

  &__switch {
    @extend %switch;
    border-radius: 4px;
    position: relative;

    &:checked::after {
      @extend %pseudo-element-basic;
      top: 4px;
      left: 6px;
      width: 6px;
      height: 8px;
      border-style: solid;
      border-image: $primaryGradient;
      border-image-slice: 0 1 1 0;
      border-width: 2px;
      border-left: none;
      border-top: none;
      transform: rotate(45deg);
    }
  }

  &__label {
    @extend %input-button-label;

    &::first-letter {
      text-transform: uppercase;
      user-select: none;
    }
  }
}
