include ../switch-common/switch-common
mixin checkbox(id, label, isChecked)
  .input-button.checkbox
    +switch(id, 'checkbox', isChecked)
    label(for=id).input-button__label.checkbox__label= label