@import '../../../../../styles/constants.scss';

.control-container {
  

  &_row {
    display: flex;
    justify-content: space-between;

    > .control-container {
      margin-bottom: 0;
    }
  }

  &_vertically-spacey {
    margin: 40px 0;
  }
}

.controls-group {
  display: flex;
  flex-direction: column;

  &.buttons-group {
    flex-direction: row;
    flex-wrap: wrap;

    > .button {
      margin-right: 19px;
    }

    > *:not(:last-child) {
      margin-bottom: 30px;
    }
  } 

  &_row {
    flex-direction: row;
    margin-bottom: 20px;

    > *:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    > .button_like {
      margin-right: 10px;
    }
  }
}
