/* Constants:
  ==========================================*/

// Colors
$darkShade100:  #1F2041;
$darkShade75:   rgba($darkShade100, 0.75);
$darkShade50:   rgba($darkShade100, 0.5);
$darkShade25:   rgba($darkShade100, 0.25);
$darkShade10:   rgba($darkShade100, 0.1);
$darkShade5:    rgba($darkShade100, 0.05);
$purple:        #BC9CFF;
$green:         #6FCF97;
$primaryGradient: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
$primaryGradientTransparentized25: linear-gradient(180deg, transparentize($purple , 0.75) 0%, transparentize(#8BA4F9, 0.75) 100%);
$secondaryGradient: linear-gradient(180deg, $green 0%, #66D2EA 100%);

// Main font
$mainFontFamily: 'Montserrat', 'Arial', sans-serif;
$mainFontColor: $darkShade75;
$mainFontStyle:   normal;
$mainFontWeight:  400;
$mainFontSize:    14px;
$mainLineHeight:  24px;

// Headings font
$headingFontFamily: 'Quicksand', 'Open Sans', 'Arial', sans-serif;
$headingFontWeight: 700;
$headingColor: $darkShade100;

// Screen sizes
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;

// Common elements styles

$activeBorder: 1px solid $darkShade50;
$dropdownShadow: 0px 10px 20px $darkShade5;
$inputPadding: 0 34px 0 14px;
$inputSize: 44px;
$inputBorder: 1px solid $darkShade25;
$iconSize: 48px;

%input-basic {
  padding: 0 15px;
  height: $inputSize;
  border-radius: 4px;
  border: $inputBorder;
  color: $mainFontColor;
  width: 100%;
  max-width: 320px;
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
  line-height: 18px;
}

%text-field-input-basic {
  @extend %input-basic;
  
  &::placeholder {
    color: $darkShade25;
  }

  &:focus,
  &:hover,
  &.force-focus-hover {
    border: 1px solid $darkShade50;
  }
}

%text-gradient {
  background: -webkit-linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

%pseudo-element-basic {
  box-sizing: border-box;
  display: block;
  content: '';
  position: absolute;
}

%expand-more-button {
  border: none;
  background: none;
  color: $darkShade50;
  position: absolute;
  width: $inputSize;
  height: $inputSize;
  text-align: center;
  top: 0;
  right: 0;
  content: 'expand_more';
  user-select: none;
}

%input-button-label {
  line-height: 20px;
  color: $darkShade50;
  margin-left: 10px;
  user-select: none;
}

%switch {
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  border: $inputBorder;
  min-width: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:checked {
    border: 1px solid $purple;
  }
}