@mixin font-face(
  $font-family,
  $file-path,
  $weight: $mainFontWeight,
  $style: $mainFontStyle,
  $asset-pipeline: false
) {
  @font-face {
    font: {
      family: $font-family;
      weight: $weight;
      style: $style;
    }

    src: url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.svg') format('svg'),
      url('#{$file-path}.ttf') format('truetype');
  }
}

@import '../res/fonts/materialicons/material-icons.css';

/* quicksand-regular - latin */
@include font-face('Quicksand', '../res/fonts/quicksand/quicksand-v20-latin-regular');
/* quicksand-700 - latin */
@include font-face('Quicksand', '../res/fonts/quicksand/quicksand-v20-latin-700', 700);
/* open-sans-regular - latin_cyrillic */
@include font-face('Open Sans', '../res/fonts/opensans/open-sans-v17-latin_cyrillic-regular');
/* open-sans-700 - latin_cyrillic */
@include font-face('Open Sans', '../res/fonts/opensans/open-sans-v17-latin_cyrillic-700', 700);
/* montserrat-regular - latin_cyrillic */
@include font-face('Montserrat', '../res/fonts/montserrat/montserrat-v14-latin_cyrillic-regular');
/* montserrat-700 - latin_cyrillic */
@include font-face('Montserrat', '../res/fonts/montserrat/montserrat-v14-latin_cyrillic-700', 700);
/* materialicons */
@include font-face('Material Icons', '../res/fonts/materialicons/MaterialIcons-Regular', 400, 'normal')