@import './variables.scss';
@import './fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  font-family: $mainFont;
  font-style: $mainFontStyle;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;
}

body {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
// Common heading styles
%heading {
  font-family: $headingFont;
  font-style: normal;
  font-weight: $headingFontWeight;
  color: $headingColor;
}
h1 {
  @extend %heading;
  font-size: 24px;
  line-height: 30px;
}
h2 {
  @extend %heading;
  font-size: 19px;
  line-height: 24px;
}
h3 {
  @extend %heading;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}