@import './constants.scss';
@import './fonts.scss';

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font: $mainFontStyle $mainFontWeight #{$mainFontSize}/#{$mainLineHeight} $mainFontFamily;
  color: $mainFontColor;
}

body {
  font: {
    family: inherit;
    style: inherit;
    weight: inherit;
    size: inherit;
  }
  line-height: inherit;
  color: inherit;
  background-color: white;
}

// Common heading styles
%heading {
  font: {
    family: $headingFontFamily;
    style: normal;
    weight: $headingFontWeight;
  }
  color: $headingColor;
}

h1,
.heading-1 {
  @extend %heading;
  font-size: 24px;
  line-height: 30px;
}

h2,
.heading-2 {
  @extend %heading;
  font-size: 19px;
  line-height: 24px;
}

h3,
.heading-3 {
  @extend %heading;
  font-family: $mainFontFamily;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

h4,
.heading-4 {
  @extend %heading;
  font: $headingFontWeight 14px/1 $mainFontFamily;
  text-transform: capitalize;
  color: $mainFontColor;
}