@import "~normalize.css", "roboto.css";
@import "../layout/ui-kit-main", "../components/ui-kit/colors-&-type/colors-&-type";

body {
  font-family: 'Quicksand', 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
%header {
  font-family: 'Quicksand', 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #1F2041;
}
h1 {
  @extend %header;
  font-size: 24px;
  line-height: 30px;
}
h2 {
  @extend %header;
  font-size: 19px;
  line-height: 24px;
}
h3 {
  @extend %header;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}