@import "~normalize.css";
@import "roboto.css";

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > * {
  border-bottom: 1px solid black;
}

.main-title {
  color: #006;
  text-align: center;
}

.webpack-image {
  width: 200px;
  
}

.code {
  color: crimson;
}