/* Constants:
  ==========================================*/

// Fonts
$mainFont:    'Montserrat', 'Arial', sans-serif;
$headingFont:  'Quicksand', 'Open Sans', 'Arial', sans-serif;

// Parameters
$mainFontColor: rgba(31, 32, 65, 0.75);
$mainFontStyle:   normal;
$mainFontWeight:  400;
$mainFontSize:    14px;
$mainLineHeight:  24px;
$headingFontWeight: 700;

// Colors
$darkShade100:  #1F2041;
$darkShade75:   rgba($darkShade100, 0.75);
$darkShade50:   rgba($darkShade100, 0.5);
$darkShade25:   rgba($darkShade100, 0.25);
$darkShade5:    rgba($darkShade100, 0.05);
$purple:        #BC9CFF;
$green:         #6FCF97;

$headingColor: $darkShade100;