.header-example {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__type {
    color: $darkShade25;
    font-family: $mainFont;
    font-weight: $mainFontWeight;
    margin-right: 30px;
    min-width: 37px;
    text-align: right;
  }
  &__text-example {
    max-width: 336px;
  }
}
.header-example:last-child .header-example__text-example {
  max-width: 301px;
}