mixin header-example(options)
  if options.type
    li.header-example
      #{options.type}.header-example__type= options.type
      #{options.type}.header-example__text-example= options.textExample
  else
    li.header-example
      span.header-example__type body
      p.header-example__text-example= options.textExample