mixin dateDropdown
  .date-dropdown.date-dropdown__container.material-icons
    button.date-dropdown__arrow.material-icons expand_more
    input.date-dropdown__input.datepicker-here(type='text' data-position='bottom right' placeholder='ДД.ММ.ГГГГ' readonly)