@import '../../../../styles/variables.scss';
@import '~air-datepicker/dist/css/datepicker.css';

.date-dropdown {
  &__container {
    position: relative;
  }

  &__arrow {
    @extend %expand-more-button;
  }

  &__input {
    @extend %text-field-input-basic;
    color: $darkShade75;
    position: relative;
    cursor: pointer;
    min-width: unset;
    width: 150px;
    height: $inputHeight;
    background-color: transparent;
    padding: $inputPadding;
  }
 
}

//
// Air Datepicker styles
//

.datepicker {
  font-family: $mainFont;

  &--pointer {
    display: none;
  }
  
  &--nav-action {
    display: flex;
  }
}