@import '../../../../styles/variables.scss';

// extends some dropdown styles from ../dropdown.pug

.date-dropdown {
  &__container {
    position: relative;
  }

  &__arrow {
    @extend %expand-more-button;
  }

  &__input {
    @extend %text-field-basic;
    color: $darkShade75;
    position: relative;
    cursor: pointer;
    min-width: unset;
    width: 150px;
    height: $inputHeight;
    background-color: transparent;
    padding: $inputPadding;
  }
 
}

// .ui-datepicker {
//   position: absolute;
//   top: $inputHeight;
//   left: 0;
//   z-index: 3;
// }