section.controls-block__left
  .control-container
    h3.control-container__title text field
    include ../../../../components/ui-kit/form-elements/text-field/text-field
  .control-container
    h3.control-container__title dropdown
    include ../../../../components/ui-kit/form-elements/dropdown/dropdown