section.controls-block__left
  .control-container
    h3.control-container__title text field
    include ../../../../components/form-elements/text-field/text-field
  .control-container
    h3.control-container__title dropdown
    include ../../../../components/form-elements/dropdown/dropdown
    +dropdown('', 'Сколько гостей', '1', '2', '3')
  .control-container
    h3.control-container__title masked text field
    include ../../../../components/form-elements/text-field/text-field_masked/text-field_masked
  .control-container_row
    .control-container
      h3.control-container__title date dropdown
      include ../../../../components/form-elements/dropdown/date-dropdown/date-dropdown
      +dropdown('date-dropdown', 'ДД.ММ.ГГГГ')
    .control-container
      h3.control-container__title date dropdown
      include ../../../../components/form-elements/dropdown/date-dropdown/date-dropdown
      +dropdown('date-dropdown', 'ДД.ММ.ГГГГ')
  .control-container
    h3.control-container__title filter date dropdown
    include ../../../../components/form-elements/dropdown/date-dropdown/date-dropdown_filter/date-dropdown_filter
    +dropdown('date-dropdown_filter', '19 авг - 23 авг')
  .control-container
    h3.control-container__title subscription text field
    include ../../../../components/form-elements/subscription-form/subscription-form