@import '../../../styles/constants.scss';

.like-button {
  background-color: $darkShade25;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  padding: 1px;
  cursor: pointer;

  &__body {
    border-radius: 10px;
    background-color: #fff;
    width: 38px;
    height: 18px;
    display: flex;
    align-items: center;
    padding: 0 4px;
  }

  &__heart,
  &__count {
    font-size: 10px;
    font-weight: normal;
    color: $darkShade25;
    user-select: none;
  }

  &__heart {
    line-height: 9px;
  }

  &__count {
    line-height: 12px;
    margin: 0 auto;
  }

  &_clicked {
    background: $primaryGradient;

    .like-button__heart,
    .like-button__count {
      color: $purple;
    }
  }
}
