//- options: {
      isClicked: boolean,
      likesCount: number
    }
mixin like-button(options)
  - var randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  .like-button(
    class=options.isClicked ? "like-button_clicked" : ""
    id=`like-${randID}`
  )
    .like-button__body
      span.like-button__heart.material-icons favorite_border
      span.like-button__count= options.likesCount
