//- options: {
      isClicked: boolean,
      likesCount: number
    }
mixin like-button(options)
  include /common/random-id-generator/random-id-generator
  -
    const {
      isClicked,
      likesCount,
    } = options;

  .like-button(
    class=isClicked ? "like-button_clicked" : ""
    id=`like-${randID}`
  )
    .like-button__body
      span.like-button__heart favorite_border
      span.like-button__count= likesCount
