//- options: {
      isClicked: boolean,
      likesCount: number
    }
mixin button_like(options)
  - var randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  .button.button_like(
    class=options.isClicked ? "button_like_clicked" : ""
    id=`like-${randID}`
  )
    .button_like__body
      span.button_like__heart.material-icons favorite_border
      span.button_like__count= options.likesCount