mixin social-icons
  .social-icons
    a.social-icons__link(href="https://twitter.com" target="_blank")
      .social-icons__icon twitter
    a.social-icons__link(href="https://www.facebook.com" target="_blank")
      .social-icons__icon facebook
    a.social-icons__link(href="https://www.instagram.com" target="_blank")
      .social-icons__icon instagram
