@import '../../../styles/variables.scss';

.subscription-form {
  &__text-field.text-field {
    min-width: 266px;
  }

  &__button {
    position: relative;
    top: -1px;
    right: $inputHeight;
    vertical-align: middle;
    width: $inputHeight;
    height: $inputHeight;
    border: none;
    @extend %text-gradient;
  }
}