mixin toggle(options)
  .input-button.toggle
    include ../switch-common/switch-common
    +switch({
      id: options.id,
      controlType: 'toggle',
      isChecked: options.isChecked
    })
    label.input-button__label.toggle__label(for=options.id)= options.label