//- options: {
      label: "string",
      isChecked: boolean
    }
mixin toggle(options)
  include /common/random-id-generator/random-id-generator
  -
    const {
      label,
      isChecked,
    } = options;

  label.toggle
    input.toggle__switch(
      id=`t-${randID}`
      type="checkbox"
      checked=isChecked
    )
    span.toggle__label #{label || "Получать спецпредложения"}
