@import '@styles/constants.scss';

.toggle {
  display: flex;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  &__switch {
    @extend %switch;
    width: 40px;
    border-radius: 10px;
    position: relative;

    &::after {
      @extend %pseudo-element-basic;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: 3px;
      left: 3px;
      background-color: $darkShade25;
      transition: left 0.15s ease-out;
    }

    &:checked::after {
      background: $primaryGradient;
      left: 23px;
    }
  }

  &__label {
    @extend %input-button-label;
    color: $mainFontColor;
  }
}