html {
  height: 100%;
}

.toxin-index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    transform: scale(2);
  }

  &__links-list {
    list-style-type: none;
  }

  &__links-container {
    display: flex;
    column-gap: 40px;
  }
}
