@import '@styles/constants.scss';

.footer-creative {
  background-color: #fff;
  box-shadow: $lightShadow;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  max-width: $tablet;
  padding: 120px 0;

  &__row {
    grid-row: auto;
    margin: 0 auto;
    padding: 0 10px;
  }

  @media (min-width: 769px) {
    display: none;
  }
}