include /common/logo/logo
include /headers-and-footers/social-icons/social-icons

mixin footer-creative
  footer.footer-creative
    .footer-creative__row
      +logo-full
    .footer-creative__row
      | Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-creative__row
      +social-icons
