include /cards/card-container/card-container
include /form-elements/date-dropdown/date-dropdown
include /form-elements/dropdown/dropdown
include /form-elements/button/button

mixin search-card
  .search-card
    +card-container
      h1.search-card__title Найдём номера под ваши пожелания
      form.search-card__form
        .search-card__date-dropdown
          +date-dropdown({
            title1: "Прибытие",
            title2: "Выезд",
          })
        .search-card__dropdown
          +dropdown-guests({
            title: "Гости",
          })
        .search-card__submit-button
          +button_wide({
            caption: "подобрать номер",
          })