@import '@styles/constants.scss';

.card-container {
  padding: 40px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  max-width: 380px;

  @media (max-width: $mobileM) {
    padding: 20px;
    max-width: 320px;
  }
}