include /form-elements/expandable-checkbox-list/expandable-checkbox-list
include /form-elements/checkbox/_rich/checkbox_rich
include /form-elements/bullet-list/bullet-list

section.section-row.lists-block
  section.lists-block__left
    -
      var listOfCheckboxesForExpandableCheckboxList = [
        { label: 'Завтрак', isChecked: false },
        { label: 'Письменный стол', isChecked: true },
        { label: 'Стул для кормления', isChecked: true },
        { label: 'Кроватка', isChecked: true },
        { label: 'телевизор', isChecked: false },
        { label: 'шампунь', isChecked: false },
      ]
    +expandableCheckboxList({
      isOpened: false,
      checkboxes: listOfCheckboxesForExpandableCheckboxList
    })
    +expandableCheckboxList({
      isOpened: true,
      checkboxes: listOfCheckboxesForExpandableCheckboxList
    })
  section.lists-block__middle
    -
      var richCheckboxes = [
        {
          label: 'Широкий коридор',
          description: 'Ширина коридоров в номере не менее 91 см.',
          isChecked: false
        },
        {
          label: 'Помощник для инвалидов',
          description: 'На 1 этаже вас встретит специалист  и проводит до номера.',
          isChecked: false
        }
      ]
    +checkbox_rich({
      title: '',
      items: richCheckboxes
    })
  section.lists-block__right
    -
      var bulletListItems = [
        { label: 'нельзя с питомцами' },
        { label: 'Без вечеринок и мероприятий' },
        { label: 'Время прибытия — после 13:00, а выезд до 12:00' }
      ]
    .control-container
      h3.control-container__title.bullet-list__title bullet list
      +bulletList({
        items: bulletListItems
      })