include /form-elements/expandable-checkbox-list/expandable-checkbox-list

section.section-row.lists-block
  section.lists-block-left
    +expandableCheckboxList({
      isOpened: false,
      checkboxes: [
        { label: 'Завтрак', isChecked: false},
        { label: 'Письменный стол', isChecked: true},
        { label: 'Стул для кормления', isChecked: true},
        { label: 'Кроватка', isChecked: true},
        { label: 'телевизор', isChecked: false},
        { label: 'шампунь', isChecked: false},
      ]
    })
    +expandableCheckboxList({
      isOpened: true,
      checkboxes: [
        { label: 'Завтрак', isChecked: false},
        { label: 'Письменный стол', isChecked: true},
        { label: 'Стул для кормления', isChecked: true},
        { label: 'Кроватка', isChecked: true},
        { label: 'телевизор', isChecked: false},
        { label: 'шампунь', isChecked: false},
      ]
    })
  //- section.lists-block-middle
  //- section.lists-block-right