@import '../../../../styles/constants.scss';

.lists-block {
  margin-bottom: 100px;

  &__left {
    flex: 6 0 auto;
  }

  &__middle {
    flex: 4 0 auto;
  }

  &__right {
    flex: 1 0 auto;
  }
}

@media (max-width: $laptop) {
  .lists-block {

    &__left,
    &__middle,
    &__right {
      flex: none;
    }

  }
}

@media (max-width: $tablet) {
  .lists-block__left {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobileL) {
  .lists-block {
    margin-bottom: 50px;
  }
}