@import '@styles/constants.scss';

.review {
  display: grid;
  grid-template-columns: $iconSize auto;
  justify-items: center;
  gap: 10px;
  max-width: 711px;

  &__reviewer-photo {
    width: $iconSize;
    height: $iconSize;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 10px 20px $darkShade10);
    border-radius: 50%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: center;
  }

  &__reviewer-name {
    margin-bottom: 0;
  }

  &__date {
    line-height: 14px;
  }

  &__like-button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 2px;
  }

  &__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;    
  }
}