include /form-elements/button/button

//-
  options: {
    photoName: "string",
    name: "string",
    date: "string",
    like: {
      count: number,
      isClicked: boolean
    },
    text: "string"
  }

mixin review(options)
  .control-container.review
    img.review__reviewer-photo(src=require("../../../components/form-elements/review/avatars/" + options.photoName).default alt="reviewer photo")
    .review__title
      h4.review__reviewer-name= options.name
      span.review__date= options.date
  
    +button_like({
      isClicked: options.like.isClicked,
      likesCount: options.like.count
    })
    p.review__text= options.text