//- options: {
      title: "string",
      state: "string",
      isRow: boolean,
      isGroup: boolean,
    }
mixin control-container(options)
  -
    const {
      title,
      state,
      isRow,
      isGroup,
    } = options;

  .control-container
    if title
      .control-container__caption(
        class=isGroup ? "control-container__caption_group" : ""
      )
        h3.control-container__title= title
        if state
          span.control-container__state= state
    if isGroup
      .control-container__controls(
        class=isRow ? "control-container__controls_row" : ""
      )
        if block
          block
    else if block
      block
