//- options: {
      title: "string",
      state: "string",
      modifierClass: "string"
    }
mixin control-container(options)
  .contol-container(
    class=options.modifierClass ? `control-container_${options.modifierClass}` : ""
  )
    .control-container__caption
      if options.title
        h3.control-container__title= options.title
      if options.state
        span.control-container__state= options.state
    .control-container__control
      if block
        block
