@import '../../../styles/variables.scss';

.range-slider {
  width: 266px;
  margin-bottom: 40px;

  & &__caption {
    margin-bottom: 20px;
  }

  &__slider {
    height: 6px;
    cursor: ew-resize;
    border: $inputBorder;
    background-color: white;
    box-shadow: none;
  }
}

.noUi {

  &-connect {

    &s { overflow: visible; }

    background: $greenGradient;
    height: 6px;
    top: -1px;
  }

  &-horizontal &-handle {
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    background: $greenGradient;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    right: -8px;
    top: -6px;
    box-shadow: none;

    &::before,
    &::after {
      display: none;
    }
  }
}