mixin range-slider(options)
  -
    const {
      title,
      range,
      start,
      description,
    } = options;

  .range-slider(
    data-range=range
    data-start=start
  )
    .range-slider__caption
      h3.range-slider__title= title
      span.range-slider__values
    .range-slider__slider
    if description
      span.range-slider__description= description
