@import '@styles/constants.scss';

.range-slider {
  width: 266px;

  &__caption {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    flex-basis: 60%;
  }

  &__values {
    flex-basis: 40%;
    font-size: 12px;
    line-height: 15px;
    color: $darkShade50;
    text-align: right;
  }

  &__slider {
    height: 6px;
    cursor: ew-resize;
    border: $inputBorder;
    background-color: white;
    box-shadow: none;
  }

  &__description {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: $darkShade50;
    margin-top: 14px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.noUi {

  &-connect {

    &s { overflow: visible; }

    background: $secondaryGradient;
    height: 6px;
    top: -1px;
  }

  &-horizontal &-handle {
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    background: $secondaryGradient;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    right: -8px;
    top: -6px;
    box-shadow: none;

    &::before,
    &::after {
      display: none;
    }
  }
}