mixin rangeSlider(options)
  -
    const {
      title,
      range,
      start,
    } = options

  .range-slider(
    data-range=range
    data-start=start
  )
    .range-slider__caption
      h3.range-slider__title= title
      span.range-slider__values
    .range-slider__slider