@import '@styles/constants.scss';

.login-card {

  &__title {
    margin-bottom: 20px;
  }

  &__text-field:first-child {
    margin-bottom: 10px;
  }

  &__submit-button {
    margin-top: 20px;
  }

  &__registration-block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__registration-text {
    color: #000;
    line-height: 18px;
  }
}