@import '../../styles/constants.scss';

.page-header {
  min-height: 145px;
  width: 100%;
}

.page-header__logo {
  width: $iconSize;
  height: $iconSize;
  position: absolute;
  top: 30px;
  left: 30px;
}

.page-wrapper_ui-kit {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1188px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}