@import '../../styles/constants.scss';


.ui-kit-header {
  min-height: 145px;
  width: 100%;

  &__logo {
    width: $iconSize;
    height: $iconSize;
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.container {
  padding: 0 3%;

  @media (max-width: $mobileS) {
    padding: 0;
  }
}
