@import '../../styles/constants.scss';

.page-header {
  min-height: 145px;
  width: 100%;
}

.page-header__image {
  width: $iconSize;
  height: $iconSize;
  position: absolute;
  top: 30px;
  left: 30px;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}