@import '../../styles/constants.scss';

.ui-kit-page {
  
  &_grey {
    background-color: #F4F4F6;
  }
}

.ui-kit-header {
  min-height: 145px;
  width: 100%;

  &__logo {
    width: $iconSize;
    height: $iconSize;
    position: absolute;
    top: 30px;
    left: 30px;

    @media (max-width: $tablet) {
      left: calc(50% - #{$iconSize} / 2);
    }    
  }
}

.container {
  padding: 0 3%;

  @media (max-width: $mobileS) {
    padding: 0;
  }
}
