mixin rateButton(id, rating)
  .rate-button(id=id)
    - var n = 1;
    while n <= 5
      if n <= rating
        span.material-icons.rate-button__star(id=id + '_' + n++) star
      else
        span.material-icons.rate-button__star(id=id + '_' + n++) star_border
      
    