//- options: {
      rating: number
    }

mixin rate-button(rating)
  include /common/random-id-generator/random-id-generator

  .rate-button(id=`rating-${randID}`)
    - let n = 0;
    while n < 5
      span.rate-button__star.material-icons(
        id=`rating-${randID}_${++n}`
      )= (n <= rating) ? "star" : "star_border"
