//- options: {
      rating: number
    }

mixin rate-button(rating)
  - const randID = Math.floor(Math.random() * (1 - 1000) + 1000);

  .rate-button(id=`rating-${randID}`)
    - let n = 0;
    while n < 5
      span.rate-button__star.material-icons(
        id=`rating-${randID}_${++n}`
      )= (n <= rating) ? "star" : "star_border"
