//- options: {
      rating: number
    }

mixin rateButton(options)
  - var randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  .rate-button(id=`rating-${randID}`)
    - var n = 0;
    while n < 5
      span.material-icons.rate-button__star(
        id=`rating-${randID}_${++n}`
      )= (n <= options.rating) ? "star" : "star_border"