mixin switch(controlType, isChecked)
  if isChecked
    input(id=id, type='checkbox', checked, class=controlType+'__switch').switch
  else
    input(id=id, type='checkbox', class=controlType+'__switch').switch