@import '../../../styles/variables.scss';

.input-button {
  display: flex;
  position: relative;
  
  &__label {
    line-height: 20px;
    color: $darkShade50;
    margin-left: 30px;
    user-select: none;

    &::before {
      @extend %pseudo-element-basic;
      border: 1px solid $darkShade25;
      width: 20px;
      height: 20px;
      left: 0;
    }
  }
}

.switch {
  display: none;

  &:checked + .input-button__label::before {
    border: 1px solid $purple;
  }
}