@import '../../../styles/variables.scss';

.input-button {
  display: flex;
  
  &__label {
    line-height: 20px;
    color: $darkShade50;
    padding-left: 10px;
    user-select: none;
  }
}

.switch {
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  border: $inputBorder;
  min-width: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:checked {
    border: 1px solid $purple;
  }
}