@import '../../../styles/constants.scss';
@import '~paginationjs/dist/pagination.css';

.page-content {
  display: none;
}

.pagination {

  &__title {
    margin-bottom: 16px;
  }

  &js {
    display: flex;
    flex-direction: column;
    font-family: $mainFontFamily;
    width: -moz-fit-content;
    width: fit-content;
    
    & &-pages,
    & &-nav {
      float: none;
    }

    & &-pages li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: none;

      &.paginationjs-next,
      &.paginationjs-prev,
      &.active {
        border-radius: 50%;
        background: $secondaryGradient;

        > a {
          color: white;
          background: transparent;
        }
      }

      &.active {
        background: $primaryGradient;
        font-weight: bold;
      }

      &:last-child {
        border: none;
      }

      &.disabled > a {
        opacity: 1;
      }

      > a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 15px;
        background: transparent;
        color: $darkShade50;
        
        &:hover {
          border-radius: 50%;
        }
        
        &.material-icons {
          font-size: 24px;
          line-height: 20px;
          vertical-align: middle;
        }
      }
    }

    & &-nav {
      margin-top: 10px;
      margin-left: 0;
      align-self: center;
      font-size: $mainFontSize;
      line-height: $mainLineHeight;
    }
  }
  
}