@import '../../../styles/variables.scss';
@import '~paginationjs/dist/pagination.css';

.pagination {

  &js {
    display: flex;
    flex-direction: column;

    & &-nav {
      margin-left: 0;
    }
  }
  
  &__title {
    margin-bottom: 16px;
  }

  &__data-container {
    // display: none;
  }

  &__container {

  }

  &__item {
    
  }
}