mixin pagination
  .pagination__data-container
  .control-container
    .pagination__container
    span.pagination__caption n1 - n2 из 100+ вариантов аренды
  //- (n1 = 12 * pageNum - 11; n2 = pageNum * 12)