@import '../../../../styles/variables.scss';

.dropdowns-block {
  display: flex;
  height: 266px;
  margin-bottom: 55px;

  &__left {
    max-width: 266px;
    margin-right: 181px;
  }

  &__middle {
    margin-right: 72px;
  }
}