include ../../../../components/form-elements/dropdown/dropdown

section.section-row.dropdowns-block
  section.dropdowns-block-left
    +dropdown({
      title: 'dropdown',
      description: 'default',
      id: 'amenities1',
      type: 'amenities',
      placeholder: 'Выберите удобства',
      hasButtons: false
    })
    +dropdown({
      title: 'dropdown',
      description: 'expanded',
      id: 'amenities2',
      type: 'amenities',
      placeholder: 'Выберите удобства',
      hasButtons: false,
      isOpened: true,
      isAlwaysOpened: true
    })
  section.dropdowns-block-middle
    +dropdown({
      type: 'guests',
      id: 'guests2',
      placeholder: 'Сколько гостей',
      hasButtons: true,
      isOpened: true,
      isAlwaysOpened: true
    })
  section.dropdowns-block-right
    +dropdown({
      type: 'guests',
      id: 'guests3',
      placeholder: 'Сколько гостей',
      hasButtons: true,
      isOpened: true,
      isAlwaysOpened: true,
      defaultCounts: [ 2, 1, 0 ]
    })