@import '../../../../styles/constants.scss';

.dropdowns-block {
  min-height: 266px;
  margin-bottom: 55px;
  
  &__left {
    flex: 2 2 310px;
  }

  &__middle {
    flex: 1 0 auto;
  }

  &__right {
    flex: 0 0 auto;
  }
}

@media (max-width: $laptop) {
  .dropdowns-block {

    &__left,
    &__middle,
    &__right {
      flex: none;
    }

    &__left {
      margin-bottom: 120px;
    }
    &__right {
      margin-bottom: 140px;
    }
  }
}

@media (max-width: $tablet) {
  .dropdowns-block {
    
    &__middle {
      margin-bottom: 160px;
    }
  }
  
}