include ../../../../components/form-elements/dropdown/dropdown

section.section-row.dropdowns-block
  section.dropdowns-block-left
    +dropdown-amenities({
      description: 'default',
      hasButtons: false
    })
    +dropdown-amenities({
      description: 'expanded',
      isOpened: true,
      isAlwaysOpened: true,
      defaultCounts: [ 2, 2, 0 ]
    })
  section.dropdowns-block-middle
    +dropdown-guests({
      isOpened: true,
      isAlwaysOpened: true
    })
  section.dropdowns-block-right
    +dropdown-guests({
      isOpened: true,
      isAlwaysOpened: true,
      defaultCounts: [ 2, 1, 0 ]
    })