@import '@styles/constants.scss';

.room-details {

  &__images {
    display: grid;
    grid-template:
      'i1 i2' 30vh
      'i1 i3' 30vh
      / 2fr 1fr;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &_1 {
      grid-area: i1;
    }

    &_2 {
      grid-area: i2;
    }

    &_3 {
      grid-area: i3;
    }
  }

  &__container {
    padding: 70px 20px;
  }

  &__main-content {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      'advantages impressions booking-card'
      'reviews        reviews booking-card'
      'rules           cancel .';
    grid-template-columns: auto auto 1fr;
    gap: 30px 70px;
    
    @media (max-width: $laptop) {
      grid-template-areas:
        'advantages impressions'
        'reviews        reviews'
        'rules           cancel'
        'booking-card booking-card';
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @media (max-width: 600px) {
      grid-template-areas:
        'advantages'
        'impressions'
        'reviews'
        'rules'
        'cancel'
        'booking-card';
      grid-template-columns: auto;
    }
  }

  &__info-title {
    margin-bottom: 20px;

    &_rules {
      margin-left: 20px;
    }
  }

  &__advantages {
    grid-area: advantages;
  }

  &__impressions {
    grid-area: impressions;
  }

  &__reviews {
    grid-area: reviews;
    position: relative;
    width: fit-content;

    &-count {
      position: absolute;
      top: 5px;
      right: 1px;
      line-height: 1;
    }
  }

  &__review:not(:last-child) {
    margin-bottom: 20px;
  }

  &__rules {
    grid-area: rules;
  }

  &__cancel {
    grid-area: cancel;
    max-width: 340px;
  }

  &__booking-card {
    grid-area: booking-card;
  }
}