extends /../layouts/website-page/website-page

block variables
  -
    const title = "Room details"
    const pageClass = "room-details"

block content
  .room-details__images
    - let i = 1;
    while i < 4
      img(
        class=`room-details__image-${i}`
        src=require(`./images/room-image${i}.jpg`).default
        alt=`room image ${i++}`
      )
  .room-details__container
