extends /../layouts/ui-kit/ui-kit

block variables
  -
    var title = "Cards"
    var pageClass = "cards"
    var modifierClass = "grey"

block content
  include /cards/card-container/card-container
  include /cards/search-card/search-card
  include /cards/registration-card/registration-card

  article.cards__card
    +search-card
  article.cards__card
    +registration-card