extends /../layouts/ui-kit/ui-kit

block variables
  -
    const title = "Cards"
    const pageClass = "cards"
    const isGrey = true
    const isWithContainer = true

block content
  include /cards/card-container/card-container
  include /cards/search-card/search-card
  include /cards/registration-card/registration-card
  include /cards/booking-card/booking-card
  include /cards/login-card/login-card
  include /cards/calendar-card/calendar-card
  include /cards/room-card/room-card

  article.cards__card
    +search-card
  article.cards__card
    +registration-card
  article.cards__card
    +booking-card({
      number: 888,
      isLux: true,
      price: 9990,
    })
  article.cards__card
    +login-card
  article.cards__card
    +calendar-card(
      [[2020, 10, 19], [2020, 10, 23]]
    )
  article.cards__room-card
    +room-card({
      number: 888,
      isLux: true,
      price: 9990,
      rating: 5,
      reviewsCount: 145,
    })
  article.cards__room-card
    +room-card({
      number: 840,
      isLux: false,
      price: 9990,
      rating: 4,
      reviewsCount: 65,
    })