@use 'sass:list';
@import '@styles/constants.scss';

.heading-example {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: $headingFontFamily;
  font-weight: $headingFontWeight;
  color: $headingColor;

  &:last-child .heading-examples-list__text-example {
    max-width: 301px;
  }

  &_type {
    &_h1 {
      font-size: 24px;
      line-height: 29px;
    }
    &_h2 {
      font-size: 19px;
      line-height: 23px;
    }
    &_h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }
    &_body {
      font: $mainFontStyle $mainFontWeight list.slash($mainFontSize, $mainLineHeight) $mainFontFamily;
      color: $mainFontColor;

      > .heading-example__text-example {
        max-width: 301px;
      }
    }
  }

  &__text-type {
    color: $darkShade25;
    font-family: $mainFontFamily;
    font-weight: $mainFontWeight;
    text-transform: capitalize;
    margin-right: 30px;
    min-width: 37px;
    text-align: right;
  }

  &__text-example {
    margin: 0;
    max-width: 370px;
  }
}
