//- options: {
      type: 'h1',
      textExample: 'This one is the sub-section or widget title'
    }

mixin heading-example(options)
  li.heading-example(
    class=`heading-example_type_${options.type}`
  )
    span.heading-example__text-type= options.type
    p.heading-example__text-example= options.textExample