//- options: {
      type: "h1",
      textExample: "This one is the sub-section or widget title"
    }

mixin heading-example(options)
  -
    const {
      type,
      textExample,
    } = options

  li.heading-example(
    class=`heading-example_type_${type}`
  )
    span.heading-example__text-type= type
    p.heading-example__text-example= textExample
