@import '../../styles/constants.scss';

.colors-and-type {
  padding: 0 20px;
  
  &__page-wrapper {
    margin: 0 auto;
    max-width: 1100px;
    flex-wrap: wrap;
  }

  &__examples-list {
    list-style: none;
    margin-bottom: 50px;

    &_color {
      min-width: 295px;
    }

    &_heading {
      min-width: 403px;
    }
  }
}