mixin calendar-card(selectDate = [[2022, 9, 27], [2022, 9, 28]])
  .calendar-card.datepicker-init-element.js-datepicker-init-element(
    data-classes='calendar-card'
    data-select-date=selectDate
  )
