include /form-elements/advantage/advantage
include /form-elements/review/review

section.section-row.descriptions-block
  section.descriptions-block__left
    .controls-container_group.advantages-block
      +advantage_comfort
      +advantage_convenience

  section.descriptions-block__right
    +review({
      photoName: 'feedback_man.png',
      name: 'Мурад Сарафанов',
      date: '5 дней назад',
      like: {
        count: 11,
        isClicked: true
      },
      text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
    })