block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
  body(class=pageClass)
    header.page-header
    main.page-wrapper(class='page-wrapper_' + pageClass)
      block content