@import '../../styles/variables.scss';

.page-header {
  min-height: 145px;
}
.page-header__image {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px;
}