@import '../../styles/variables.scss';

.page-header {
  min-height: 145px;
  background: url('../../res/img/logo/logo_small.svg') no-repeat 30px 30px;
}
.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px;
}