@import '../../../styles/constants.scss';

.advantage {
  display: flex;
  border-bottom: 1px solid $darkShade10;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  width: 290px;

  &__icon {
    @extend %text-gradient;
    width: $iconSize;
    height: $iconSize;
    font: #{$iconSize}/#{$iconSize} 'Material Icons';
    margin-right: 10px;
    user-select: none;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  &__description {
    line-height: 14px;
  }
}