//-
  +advantage(
    options: {
      icon: "string" (Material icons icon name, e.g. "insert_emoticon")
      title: "string",
      description: "string"
    }
  )
mixin advantage(options)
  -
    const {
      icon,
      title,
      description,
    } = options
    
  .advantage
    span.advantage__icon= icon
    .advantage__text
      h4.advantage__title= title
      span.advantage__description= description