@import '@styles/constants.scss';

.website-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  &_non-scrollable {
    @media (max-width: $tablet) {
      overflow: hidden;
    }
  }

  &__line {
    border: none;
    background-color: $darkShade25;
    height: 1px;
  }

  &__footer-creative {
    justify-self: center;
  }
}
