section.controls-block__right
  .control-container_group
    h3.control-container_group__title range slider
  .control-container_group
    h3.control-container_group__title buttons
  .control-container_group
    h3.control-container_group__title pagination