@import '../../../../styles/variables.scss';

// extends common button styles at ../button.scss

.button_link {
  width: -moz-fit-content;
  width: fit-content;
  color: $purple;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  height: auto;
  
  &_clear {
    color: $darkShade50;
  }
}