@import '@styles/constants.scss';

.booking-card {

  &__header {
    margin-bottom: 20px;
  }

  &__date-dropdown,
  &__dropdown {
    margin-bottom: 20px;
  }

  &__calculations {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    margin-bottom: 30px;

    &-caption {
      max-width: 215px;
      width: 100%;
      line-height: 18px;
      align-self: center;

      &_informative {
        position: relative;
        padding-right: 25px;
        max-width: 240px;

        &::after {
          @extend %pseudo-element-basic;
          content: 'i';
          top: 0;
          right: 0;
          border: $inputBorder;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          color: $darkShade25;
          font-size: 12px;
          line-height: 18px;
          font-weight: bold;
        }
      }
    }

    &-price {
      white-space: nowrap;
      justify-self: end;
    }
  }
  
  &__total {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 5px;
    margin-bottom: 20px;

    &-line {
      border-bottom: 1px dotted $darkShade25;
      height: 1em;
    }
  }
}