include /cards/card-container/card-container
include /common/control-container/control-container
include /form-elements/date-dropdown/date-dropdown
include /form-elements/dropdown/dropdown
include /form-elements/button/button
include /cards/room-main-info/room-main-info

mixin booking-card(options)
  -
    const { number, isLux, price } = options
  .booking-card
    +card-container
      .booking-card__header
        +room-main-info({
          number,
          isLux,
          price,
          isSmall: false,
        })
      form.booking-card__booking-form
        .booking-card__date-dropdown
          +date-dropdown({
            title1: "прибытие",
            title2: "выезд",
          })
        .booking-card__dropdown
          +dropdown-guests({
            title: "гости",
          })
        .booking-card__calculations
          span.booking-card__calculations-caption 9&nbsp;990₽ х 4 суток
          span.booking-card__calculations-price 39&nbsp;960₽
          span.booking-card__calculations-caption.booking-card__calculations-caption_informative Сбор за услуги: скидка 2&nbsp;179₽
          span.booking-card__calculations-price 0₽
          span.booking-card__calculations-caption.booking-card__calculations-caption_informative Сбор за дополнительные услуги
          span.booking-card__calculations-price 300₽
        h2.booking-card__total
          span.booking-card__total-caption Итого
          span.booking-card__total-line
          span.booking-card__total-price 38&nbsp;081₽
        .booking-card__submit-button
          +button_wide({
            caption: "забронировать",
          })
