mixin color-example(options)
  li.color-example
    div(
      class='color-example__color-square_' + options.color
      style='display: inline-block; width: 50px; height: 50px; background-color: black;'
    )
    h2.color-example__color-title(style='display: inline;')= options.title
    span.color-example__color-code= options.code
