.color-example {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__color-square {
    width: 70px;
    height: 70px;
    background-color: #1F2041;
    border-radius: 6px;
    margin-right: 40px;
    &_ds-75 {
      background-color: rgba(31, 32, 65, 0.75);
    }
    &_ds-50 {
      background-color: rgba(31, 32, 65, 0.5);
    }
    &_ds-25 {
      background-color: rgba(31, 32, 65, 0.25);
    }
    &_ds-5 {
      background-color: rgba(31, 32, 65, 0.05);
    }
    &_purple {
      background-color: #BC9CFF;
    }
    &_green {
      background-color: #6FCF97;
    }
  }

  %color-example-text {
    font-size: 19px;
    line-height: 29px;
  }
  
  &__color-title {
    @extend %color-example-text;
    margin: 0;
    font-weight: bold;
  }
  &__color-code {
    @extend %color-example-text;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    color: #1F2041;
  }
}