.color-example {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__color-square {
    width: 70px;
    height: 70px;
    background-color: $darkShade100;
    border-radius: 6px;
    margin-right: 40px;
    &_ds-75 {
      background-color: $darkShade75;
    }
    &_ds-50 {
      background-color: $darkShade50;
    }
    &_ds-25 {
      background-color: $darkShade25;
    }
    &_ds-5 {
      background-color: $darkShade5;
    }
    &_purple {
      background-color: $purple;
    }
    &_green {
      background-color: $green;
    }
  }

  %color-example-text {
    font-size: 19px;
    line-height: 29px;
  }

  &__color-title {
    @extend %color-example-text;
    margin: 0;
    font-weight: bold;
  }
  &__color-code {
    @extend %color-example-text;
    font-family: $headerFont;
    color: $darkShade100;
  }
}