mixin color-example(options)
  li.color-example
    div.color-example__color-square(
      class='color-example__color-square_' + options.color
    )
    div.color-example__text-block
      h2.color-example__color-title= options.title
      span.color-example__color-code= options.code
