include /form-elements/checkbox/checkbox

//-
  options: {
    title: "string",
    isOpened: boolean,
    checkboxes: [
      { title: "string", isChecked: boolean },
    ]
  }

mixin expandable-checkbox-list(options)
  -
    const {
      title,
      isOpened,
      checkboxes,
    } = options

  .expandable-checkbox-list(class=isOpened ? "expandable-checkbox-list_opened" : "")
    .expandable-checkbox-list__toggle
      h3.expandable-checkbox-list__title= title || "expandable checkbox list"
      span.expandable-checkbox-list__arrow.material-icons expand_more
    .expandable-checkbox-list__items-list
      each item in checkboxes
        .expandable-checkbox-list__item
          +checkbox({
            label: item.label,
            isChecked: item.isChecked
          })
