@import '../../../styles/constants.scss';

.expandable-checkbox-list {
  max-width: 266px;

  &:not(:first-child) {
    margin-top: 50px;
  }

  &_opened {
    .expandable-checkbox-list__arrow {
      transform: rotate(180deg);
    }

    > .expandable-checkbox-list__items-list {
      display: block;
    }
  }

  &__toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $inputHeight;
    cursor: pointer;
  }

  &__title {
    line-height: 15px;
    user-select: none;
  }

  &__arrow {
    width: $inputHeight;
    text-align: center;
    line-height: 15px;
    color: $darkShade50;
    cursor: pointer;
    user-select: none;
    transition-property: transform;
    transition-duration: .2s;
  }

  &__items-list {
    display: none;
  }

  &__item {
    margin-bottom: 10px;
  }
}