@import '@styles/constants.scss';

.expandable-checkbox-list {
  max-width: 266px;

  &:not(:first-child) {
    margin-top: 50px;
  }

  &[open] {
    .expandable-checkbox-list__arrow {
      transform: scaleY(-1);
    }
  }

  &__toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $inputSize;
    cursor: pointer;
  }

  &__title {
    line-height: 15px;
    user-select: none;
  }

  &__arrow {
    width: $inputSize;
    text-align: center;
    line-height: 15px;
    color: $darkShade50;
    cursor: pointer;
    user-select: none;
    transition-property: transform;
    transition-duration: .2s;
    font-family: "Material Icons";
    font-size: 24px;
  }

  &__item {
    margin-bottom: 10px;
  }
}
