@import '../../../styles/constants.scss';

.control-caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    user-select: none;

    &:empty {
      margin: 0;
    }

  &__state {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade50;
  }
}