include ../../checkbox

//-
  options: {
    label: "string",
    description: "string",
    isChecked: boolean
  }
mixin checkbox_type_rich(options)
  -
    const {
      label,
      description,
      isChecked,
    } = options;

  .checkbox_type_rich
    +checkbox({
      label,
      isChecked,
    })
    .checkbox_type_rich__description
      each line in description
        span.checkbox_type_rich__description-line= line
