include /form-elements/range-slider/range-slider
include /form-elements/button/button
include /form-elements/pagination/pagination

section.controls-block__right
  +rangeSlider({
    title: 'range slider',
    id: 'range1',
    range: [0, 16000],
    start: [5000, 10000]
  })
  .control-container_group
    h3.control-container_group__title buttons
    .controls-group.buttons-group
      +button_filled('click me')
      +button_filled('click me')(class='force-hover')
      +button_bordered('click me')
      +button_bordered('click me')(class='force-hover')
      .controls-group.controls-group_row
        +button_link({ title: 'click me' })
        +button_link({ title: 'click me', isClear: true })
      +button_wide('Перейти к оплате')
  .control-container.pagination
    h3.control-container__title.pagination__title pagination
    +pagination