include ../../../../../components/form-elements/range-slider/range-slider
include ../../../../../components/form-elements/button/button


section.controls-block__right
  +rangeSlider({
    title: 'range slider'
  })
  .control-container_group
    h3.control-container_group__title buttons
    .controls-group.buttons-group
      +button_filled('click me')
      +button_bordered('click me')
      .controls-group.controls-group_row
        +button_link({ title: 'click me' })
        +button_link({ title: 'click me', isClear: true })
      +button_wide('Перейти к оплате')
  .control-container
    h3.control-container__title pagination