include ../../../../../components/form-elements/range-slider/range-slider
include ../../../../../components/form-elements/button/button_gradient/button_gradient
include ../../../../../components/form-elements/button/button_white/button_white
include ../../../../../components/form-elements/button/button_link/button_link
include ../../../../../components/form-elements/button/button_submit/button_submit


section.controls-block__right
  +rangeSlider({
    title: 'range slider'
  })
  .control-container_group
    h3.control-container_group__title buttons
    .controls-group.buttons-group
      +button_gradient('click me')
      +button_white('click me')
      .controls-group.controls-group_row
        +button_link({ title: 'click me' })
        +button_link({ title: 'click me', isClear: true })
      +button_submit('Перейти к оплате')
  .control-container
    h3.control-container__title pagination