include ../components/ui-kit/ui-kit-page-logo/ui-kit-page-logo

block variables

doctype html
html(lang='en')
  head
    meta(charser='utf-8')
    title= title
    link(rel='icon', href='img/favicon.ico', type='image/ico')
  body(class=pageClass)
    +page-logo
    .wrapper
      block content