block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='icon', href='img/favicon.ico', type='image/ico')
  body(class=pageClass)
    .ui-kit-main-wrapper
      block content