@import '../../../styles/constants.scss';

.iqdropdown {
  @extend %input-basic;
  padding: 0;
  color: $mainFontColor;

  &__input {
    display: none;
  }

  &_preferences {
    max-width: 266px;
  }

  &:focus,
  &:hover {
    border: 1px solid $darkShade50;
  }

  &.menu-open {
    border-radius: 4px 4px 0 0;
    border-color: $darkShade50;
  }

  &,
  .iqdropdown-selection {
    font-family: $mainFontFamily;
    font-size: $mainFontSize;
  }

  .iqdropdown-selection {
    line-height: 18px;
    color: $mainFontColor;
    height: 18px;
    padding: $inputPadding;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__arrow {
    @extend %expand-more-button;
  }

  &.menu-open .iqdropdown-selection::after {
    color: $mainFontColor;
  }

  .iqdropdown-selection::after,
  &.menu-open .iqdropdown-selection::after {
    display: none;
  }

  .iqdropdown-menu {
    top: $inputSize;
    border: $activeBorder;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 20px $darkShade5;

    &-option {
      height: 30px;
      padding: 0 7px 0 15px;
      margin-top: 7px;

      &:last-child {
        margin-bottom: 7px;
      }
    }
  }

  .iqdropdown-content {
    margin-top: -4px;
    margin-left: -1px;
  }

  .iqdropdown-item {
    font: bold 12px/15px $mainFontFamily;
    text-transform: uppercase;

    &-controls {
      align-items: center;
      height: 30px;

      button.button-decrement,
      button.button-increment {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        transition: none;

        &_disabled {
          opacity: 0.38;
          cursor: default;
        }

        &:hover {
          background-color: initial;
        }

        .icon-decrement,
        .icon-increment {
          font-style: normal;
          font-size: 18px;
          line-height: 22px;
          color: $darkShade50;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 2px;

          &::after,
          &::before {
            display: none;
          }
        }
      }

      .counter {
        border: none;
        font: bold 12px/1 $mainFontFamily;
        vertical-align: middle;
        padding: 11px 0;
        width: 32px;
        text-align: center;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    padding: 12px 7px 13px 14px;
    margin-top: 7px;
  }
}