@import '../../../styles/variables.scss';

.iqdropdown {
  @extend %input-basic;
  color: $darkShade75;

  &:focus,
  &:hover {
    border: 1px solid $darkShade50;
  }

  &.menu-open {
    border-radius: 4px 4px 0 0;
    border-color: $darkShade50;
  }

  &,
  .iqdropdown-selection {
    font-family: $mainFont;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
  }

  .iqdropdown-selection {
    position: static;
    color: $darkShade75;

    &::after {
      color: $darkShade50;
    }
  }

  &.menu-open .iqdropdown-selection::after {
    color: $darkShade75;
  }

  .iqdropdown-selection::after,
  &.menu-open .iqdropdown-selection::after {
    content: 'expand_more';
    background-image: none;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 10px;
    top: 0;
  }

  .iqdropdown-menu {
    top: 44px;
    border: $activeBorder;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 20px $darkShade5;

    &-option {
      height: 44px;
      padding: 0 7px 0 15px;

      &:not(:first-child) {
        margin-top: -7px;
      }
    }
  }

  .iqdropdown-item {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;

    &-controls {
      align-items: center;

      button.button-decrement,
      button.button-increment {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        transition: none;

        &[disabled] {
          opacity: 0.35;
          cursor: default;
        }

        &:hover {
          background-color: initial;
        }

        .icon-decrement,
        .icon-increment {
          font-style: normal;
          color: $darkShade50;

          &::after,
          &::before {
            display: none;
          }
        }
      }

      .counter {
        border: none;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
        vertical-align: middle;
        padding: 11px 0;
        width: 32px;
        text-align: center;
      }
    }
  }
}