//- mixin dropdown(classname, ...options)
//-   select.dropdown(class=classname ? classname : '')
//-     each option in options.length ? options : ['No options']
//-       option= option

.iqdropdown
  p.iqdropdown-selection(data-selection-text='Гость' data-text-plural='Гостей')
  .iqdropdown-menu
    .iqdropdown-menu-option(data-id='item1' data-maxcount="10")
      div
        p.iqdropdown-item Взрослые
    .iqdropdown-menu-option(data-id='item2' data-maxcount="10")
      div
        p.iqdropdown-item Дети
    .iqdropdown-menu-option(data-id='item3' data-maxcount="10")
      div
        p.iqdropdown-item Младенцы